<html>
<head>
  <title>My Angular App!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/screen.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/ngGallery.css">
  <!--carousel-->
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/libs/nvd3/build/nv.d3.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/fafa.min.css">

  <script src="/socket.io/socket.io.js"></script>



  <script src="/libs/jquery/dist/jquery.min.js"></script>

  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-socket-io/socket.js"></script>
  <script>
    //var socket = io('ws://192.168.0.24');
    var socket = io('ws://192.168.0.24:3000');
    //var socket = io();
  </script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/d3/d3.min.js"></script>
  <script src="/libs/nvd3/build/nv.d3.min.js"></script>
  <script src="/libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script src="/libs/ngGallery/src/js/ngGallery.js"></script>
  <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
  <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/libs/fullcalendar/dist/gcal.js"></script>
  <!--carousel-->
  <script src="/libs/slick-carousel/slick/slick.js"></script>
  <script src="/libs/angular-slick/dist/slick.min.js"></script>




  <script src="/javascripts/angularApp.js"></script>
  <style>

    html {
      height: 100%;
    }
    body {
      min-height: 100%;
    }
    html,
    body {
      height: 100%;
    }

    .content
    {
      background-image: url("img/fondo_centro.png");
      background-size: 25px 25px;
      position: absolute;
      top: 42vh;
      left: 22%;
      min-height: 100% ;
      height: auto;
      margin-top: 0;
      -webkit-box-shadow: inset 0px 0px 50px -8px ;
      -moz-box-shadow: inset 0px 0px 50px -8px ;
      box-shadow: inset 0px 0px 50px -8px;
    }
    form.new_message
    {
      margin-bottom: 0;
    }
    .linearedtop
    {
      fill: #E30613;
      mix-blend-mode: multiply;
      margin-left: 0;
    }
    .linearedtop2
    {
      fill: #E30613;
    }
    .svgrojo
    {
      position: absolute;
      top: 27.6vh;
      z-index: 1;
      left: 0;
      width: 100%;
    }
    .vwer
    {
      height: 100%;
      min-height: 100%;
    }
  </style>
</head>
<body ng-app="flapperNews" >


<!--<div style="position: absolute;top: 0;left: 0;width: 100% ">-->
  <!--<img style="width:100%; height: 51vh" src="/img/foto_mundo.png">-->
<!--</div>-->


    <div class="vwer" ui-view="main"></div>




</body>
</html>