<html>
<head>
  <title>My Angular App!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/screen.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/ngGallery.css">
  <!--carousel-->
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/libs/nvd3/build/nv.d3.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/socket.io/socket.io.js"></script>



  <script src="/libs/jquery/dist/jquery.min.js"></script>

  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-socket-io/socket.js"></script>
  <script>
    var socket = io('ws://192.168.0.24');
  </script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/d3/d3.min.js"></script>
  <script src="/libs/nvd3/build/nv.d3.min.js"></script>
  <script src="/libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script src="/libs/ngGallery/src/js/ngGallery.js"></script>
  <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
  <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/libs/fullcalendar/dist/gcal.js"></script>
  <!--carousel-->
  <script src="/libs/slick-carousel/slick/slick.js"></script>
  <script src="/libs/angular-slick/dist/slick.min.js"></script>




  <script src="/javascripts/angularApp.js"></script>
  <style>
    .content
    {
      background-image: url("img/textura.jpg");
      position: absolute;
      top: 51vh;
      left: 22%;
      width: 56%;
      height: auto;
      margin-top: 0;
    }
    .linearedtop
    {
      fill: #E30613;
      mix-blend-mode: multiply;
      margin-left: 0;
    }
    .linearedtop2
    {
      fill: #E30613;
    }
    .svgrojo
    {
      position: absolute;
      top: 27.6vh;
      z-index: 1;
      left: 0;
      width: 100%;
    }
    .chatbox
    {
      position: fixed;
      width: 300px;
      height: 15vh;
      bottom: 0;
      right: 0;
      border: 1px solid black;
      z-index: 1000;

    }
  </style>
</head>
<body ng-app="flapperNews" >


<div class="chatbox" ng-controller="ChatCtrl">
  <ul id="messages">
    <li ng-repeat="men in mensajes">{{men}}</li>
  </ul>
  <form action="" id="chati">
    <input id="m" autocomplete="off" /><p id="enviando">Send</p>
  </form>
</div>

<!--<div style="position: absolute;top: 0;left: 0;width: 100% ">-->
  <!--<img style="width:100%; height: 51vh" src="/img/foto_mundo.png">-->
<!--</div>-->

  <div style="position: absolute;top: 0;left: 0;width: 100% ">
    <img style="width:100%; height: 51vh" src="/img/foto_mundo.png">
  </div>


  <div class="svgrojo">
    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="2.3 221.8 957 116.4" enable-background="new 2.3 221.8 957 116.4" xml:space="preserve">
    <path class="linearedtop" d="M1.9,250.5c0,0,174.5-40.6,437.5-25.3c301,17.3,519.9,82.5,519.9,82.5v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.2-387.9,17.7-527.6,50.8V250.5z"/>
    <path class="linearedtop2" d="M2.1,300.7c0,0,170.3-52.4,433.7-42.2c301.4,11.6,523.5,63.3,523.5,63.3v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.1-387.9,17.8-527.6,50.9L2.1,300.7z"/>
    </svg>
  </div>

<barranav></barranav>
<barraizq></barraizq>
<barrader></barrader>

  <div class="content">
    <ui-view>
    </ui-view>
  </div>



</body>
</html>