<html>
<head>
  <title>My Angular App!</title>

  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/screen.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/ngGallery.css">
  <!--carousel-->
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css">


  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/ngGallery/src/js/ngGallery.js"></script>
  <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
  <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/libs/fullcalendar/dist/gcal.js"></script>
  <!--carousel-->
  <script src="/libs/slick-carousel/slick/slick.js"></script>
  <script src="/libs/angular-slick/dist/slick.min.js"></script>






  <script src="/javascripts/angularApp.js"></script>
  <style>
    .content
    {
      background-image: url("img/textura.png");
      position: absolute;
      top: 40.7vh;
      left: 22%;
      width: 56%;
      height: auto;
    }
    .linearedtop
    {
      fill: #E30613;
      mix-blend-mode: multiply;
    }
    .linearedtop2
    {
      fill: #E30613;
    }
    .svgrojo
    {
      position: absolute;
      top: 0vh;
      z-index: 1;
      left: 0;
      width: 100%;
    }
  </style>
</head>
<body ng-app="flapperNews" >

<div style="position: absolute;top: 0;left: 0;width: 100% ">
  <img style="width:100%; height: 51vh" src="/img/foto_mundo.png">
</div>

<div style="position: absolute;top:45vh; width: 100%;">
  <!--<img style="width:100%" src="/img/fondo_barra_izq.png">-->
</div>

  <div class="svgrojo">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 1594.8 522.9" enable-background="new 0 0 1594.8 522.9" xml:space="preserve">
      <path class="linearedtop" d="M-1.8,336.3c615.3-95,1600.7,45,1600.7,45l-0.3-28.2c0,0-1126.6-175.8-1600.6-100.3l-2,92.4l2,0  L-1.8,336.3z"/>
      <path class="linearedtop2" d="M-1.8,366.2c615.3-95,1600.1,42.7,1600.1,42.7l0.6-27.6c0,0-1127.4-153.2-1601.4-77.8l-1.5,71.5l2,0  L-1.8,366.2z"/>


    </svg>
  </div>

<barranav></barranav>
<barraizq></barraizq>
<barrader></barrader>

  <div class="content">
    <ui-view>
    </ui-view>
  </div>



</body>
</html>