<html>
<head>
  <title>My Angular App!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/screen.css">
  <link rel="stylesheet" href="/libs/ngGallery/src/css/ngGallery.css">
  <!--carousel-->
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/libs/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/libs/nvd3/build/nv.d3.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/fafa.min.css">

  <script src="/socket.io/socket.io.js"></script>



  <script src="/libs/jquery/dist/jquery.min.js"></script>

  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-socket-io/socket.js"></script>
  <script>
//    var socket = io('ws://192.168.0.24');
    var socket = io();
  </script>
  <script src="/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/libs/angular-material/angular-material.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/libs/d3/d3.min.js"></script>
  <script src="/libs/nvd3/build/nv.d3.min.js"></script>
  <script src="/libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script src="/libs/ngGallery/src/js/ngGallery.js"></script>
  <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
  <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/libs/fullcalendar/dist/gcal.js"></script>
  <!--carousel-->
  <script src="/libs/slick-carousel/slick/slick.js"></script>
  <script src="/libs/angular-slick/dist/slick.min.js"></script>




  <script src="/javascripts/angularApp.js"></script>
  <style>

    .content
    {
      background-image: url("img/textura.jpg");
      position: absolute;
      top: 51vh;
      left: 22%;
      width: 56%;
      min-height: 110% ;
      height: auto;
      margin-top: 0;
    }
    form.new_message
    {
      margin-bottom: 0;
    }
    .linearedtop
    {
      fill: #E30613;
      mix-blend-mode: multiply;
      margin-left: 0;
    }
    .linearedtop2
    {
      fill: #E30613;
    }
    .svgrojo
    {
      position: absolute;
      top: 27.6vh;
      z-index: 1;
      left: 0;
      width: 100%;
    }
    .chatty
    {
      position: fixed;
      width: 300px;
      height: 30vh;
      bottom: 0;
      right: 0;
      border: 1px solid black;
      z-index: 1000;
      background-color: #b2b2b2;

    }
    .conectchat
    {
      height: 20px;
    }

    .chatbox {
      position: fixed;
      z-index: 900;
      width: 280px;
      display: none;
    }

    .chatboxhead {
      background: #E30613;
      color: white;
      padding: 0.5rem;
      overflow: hidden;

      border-right: 1px solid rgba(85, 85, 85, 0.87);
      border-left: 1px solid rgba(85, 85, 85, 0.87);
    }

    .chatboxhead h1 {
      display: inline;
      font-size: 17px;
      font-weight: 700;
    }

    .chatboxblink {
      background-color: #176689;
      border-right: 1px solid #176689;
      border-left: 1px solid #176689;
    }

    .chatboxcontent {
      font-family: arial, sans-serif;
      height: 278px;
      width: 278px;
      max-height: 280px;
      max-width: 280px;
      overflow-y: auto;
      padding: 0px;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #eeeeee;
      background: #e5e5e5;
      line-height: 1.3em;
      list-style: none;
    }

    .chatboxcontent li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
    }

    .chatboxcontent .avatar {
      width: 40px;
      position: relative;
    }

    .chatboxcontent .avatar img {
      display: block;
      width: 100%;
    }

    .other .avatar:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }

    .self {
      justify-content: flex-end;
      align-items: flex-end;
    }

    .self .chatboxmessagecontent {
      order: 1;
      border-bottom-right-radius: 0;
    }

    .self .avatar {
      order: 2;
    }

    .self .avatar:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .chatboxmessagecontent {
      background: white;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .chatboxmessagecontent p {
      font-size: 12px;
      margin: 0 0 0.2rem 0;
      -ms-word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    .chatboxmessagecontent time {
      font-size: 9px;
      color: #ccc;
    }

    .chatboxinput {
      padding: 5px;
      background-color: #575756;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
    }

    .chatboxtextarea {
      width: 262px;
      height: 20px;
      padding: 3px 0pt 3px 3px;
      border: 1px solid #eeeeee;
      margin: 1px;
      overflow: hidden;
      resize: none !important;
      font-family: Arial;
    }

    .chatboxtextareaselected {
      border: 2px solid #878787;
      margin: 0;
    }

    .chatboxmessage {
      margin-left: 1em;
    }

    .chatboxinfo {
      margin-left: -1em;
      color: #666666;

    }

    .chatboxoptions {
      float: right;
    }

    .chatboxoptions a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    .chatboxtitle {
      float: left;
    }

  </style>
</head>
<body ng-app="flapperNews" >


<div ng-controller="ChatCtrl">




<div class="chatty">

<div ng-repeat="users in usuariosconectados">
    <p ng-click="generarChat(users.username)" >
{{users.actual}}
      <img src="/img/chat-conectado.png" class="conectchat" ng-show="users.actual">
      <img src="/img/chat-desconectado.png" class="conectchat" ng-show="!users.actual" >
      {{users.username}}</p>
</div>

  <form action="" id="chati">
    <input id="m" autocomplete="off" /><p id="enviando">Send</p>
  </form>
</div>
</div>

<!--<div style="position: absolute;top: 0;left: 0;width: 100% ">-->
  <!--<img style="width:100%; height: 51vh" src="/img/foto_mundo.png">-->
<!--</div>-->

  <div style="position: absolute;top: 0;left: 0;width: 100% ">
    <img style="width:100%; height: 51vh" src="/img/foto_mundo.png">
  </div>


  <div class="svgrojo">
    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="2.3 221.8 957 116.4" enable-background="new 2.3 221.8 957 116.4" xml:space="preserve">
    <path class="linearedtop" d="M1.9,250.5c0,0,174.5-40.6,437.5-25.3c301,17.3,519.9,82.5,519.9,82.5v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.2-387.9,17.7-527.6,50.8V250.5z"/>
    <path class="linearedtop2" d="M2.1,300.7c0,0,170.3-52.4,433.7-42.2c301.4,11.6,523.5,63.3,523.5,63.3v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.1-387.9,17.8-527.6,50.9L2.1,300.7z"/>
    </svg>
  </div>

<barranav></barranav>
<barraizq></barraizq>
<barrader></barrader>

  <div class="content">
    <ui-view>
    </ui-view>
  </div>



</body>
</html>