<style>

    #calendar2 .fc-basic-view .fc-body .fc-row {
        min-height: 1vh !important;
    }
    #calendar2 .fc-widget-header{
        font-family: Openlight, arial, sans-serif;
        background-color: transparent;
        color: white;
        font-size: 2.2vh;
        padding-top: 1%;
        border:0;
    }
    #calendar2 table
    {
        border: 1px transparent;
    }
    #calendar2 .fc-head
    {
        border: 0;
    }
    #calendar2  .fc-widget-content{
        border: none;
    }
    #calendar2  .fc-center{
        color: #01539c;
        font-size: 5px;

    }
    #calendar2 .fc-today{
        color: white;
        background-color: #575756;
        /*background: url('http://localhost:3000/assets/icono-calendario-d-28122440dd50b54b10baf83c2ad129800d735f747b8b73a58aa05ce0a59fede4.png') no-repeat;*/
        background-size: 3vh;
        background-position:100% 100%;
    }
    #calendar2 .fc button .fc-icon{
        position: relative;
        top: -0.05em; /* seems to be a good adjustment across browsers */
        left: -5em;
        vertical-align: middle;
    }

    #calendar2 h2{
        margin-top: 15%;
        font-size: 25px;
    }
    #calendar2 .fc-button-group{
        margin-top: -12%;
    }

    #calendar2   td.fc-day-number
    {
        font-size: 2.8vh;
        text-align: center;
        vertical-align: bottom;
        font-family: Museo, arial, sans-serif;
        padding-top: 1vh;
        color: white;
    }

    #calendar2 .fc-content-skeleton
    {
        margin-top: 1.5vh; !important
    }
    #calendar2 .fc-body
    {
        border: 0;
        background-color: #be1622;
    }

    .superiorcalendar
    {
        top: 0vh;
        left: 9%;
        width: 19vw;
        height: 60%;
        color: white;
        background-repeat: no-repeat;
        background-size:100% ;
        z-index: 1;
    }
    .calendarcontainer
    {
        position: absolute;
        top: 32.4vh;
        width: 88%;
        left: 5%;
    }
    #calendar2 .fc-scroller {
        overflow-y: hidden !important;
    }
    .siguiente
    {
        height: 5vh;
        width: 5vh;
        transform: rotate(135deg);
        border-top: .7vh solid #E30613;
        border-left: .7vh solid #E30613;
        border-radius: .3vw .3vw .0vw .3vw;
        cursor: pointer ;
        position: absolute;
        top: 18vh;
        right: 7%;
    }
    .anterior
    {
        height: 5vh;
        width: 5vh;
        transform: rotate(-45deg);
        border-top: .7vh solid #E30613;
        border-left: .7vh solid #E30613;
        border-radius: .3vw .3vw .0vw .3vw;
        cursor: pointer ;
        position: absolute;
        top: 18vh;
        left: 7%;
    }
    #calendar2 .fc-row
    {
        height: 3.5vh !important;
    }

    .diacalendar
    {
        font-size: 3vh;
        top: 10vh;
        left: 40%;
        margin: 0;
    }
    .dianumcalendar
    {
        margin: 0;
        font-size: 18vh;
        left: 40%;
        top: 10.5vh;

    }
    .mescalendar
    {
        font-size: 3vh;
        left: 40%;
        top: 28vh;
        margin: 0;
    }
    .ab
    {
        position: absolute;
    }
    #calendar2 td.fc-other-month
    {
        color: transparent; !important;
    }
    #calendar2  .fc-view-container
    {
        position: absolute;
        top: 0vh;
        left: .2vw;
        width: 19.4vw;
    }
    .linecalendar
    {
        position: absolute;
        width: 93%;
        top: 32.3vh;
        left: 2%;
        height: 1px;
        background-color: white;

    }
    .iconorojo
    {
        position: relative;
        top: 1.2vh;
        left: 2vw;
        height: 1.6vh;
        width: auto;
    }
    .iconogris
    {
        position: relative;
        height: 1.3vh;
        width: auto;
    }
    .cajamenu
    {
        position: relative;
        top: -10vh;
        vertical-align:top;
        margin-left: 1.2%;
        margin-bottom: 2px;
        width: 19vw;
        z-index: 1;
        background-color: transparent;
    }
    .txtmenu
    {
        position: relative;
        top: 1.2vh;
        font-size: 1.3vw;
        color: black;
        margin-left: 16%;
    }
    .lista
    {

        list-style-type: none;
        margin-bottom: .1vh;
        height: 4vh;

    }
    .lista:hover
    {
        cursor: pointer;
        background-image: url(/img/sombramenu.png);
    }
    .linkmenu
    {
        text-decoration: none
    }
    #calendar2 .fc-scroller{
        height: 32vh !important;
    }
    .fondobarraizq
    {
        display: inline-block;
        height:100%;
        min-height: 100%;
        width: 22vw;
        /*top: 42vh;*/
        background-color: transparent;


    }
    .departamentoslinks:hover
    {
        color: #E30613;
    }

    .cccalendar{
        position: relative;
        margin-top:calc(15px - 10vh);
        z-index: 1
    }
</style>


<div class="fondobarraizq">

        <div class="cajamenu">
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a ui-sref="users" class="linkmenu"><span class="txtmenu">Usuarios</span></a> </li>
             <li class="lista" ng-click=" !mostrarareas ? mostrarareas = true : mostrarareas = false"><img class="iconorojo" src="/img/icono-rojo.png"> <a style="margin: 0" class="linkmenu"><span class="txtmenu">Departamentos</span></a> </li>
            <div ng-show="mostrarareas" ng-controller="AreaxCtrl">

                <a style="color:black;text-decoration: none" ng-show="currentUser.username == 'dfapolinarm'" class="departamentoslinks"  href="#/root/areas"><li class="departamentoslinks" style="list-style: none;margin-left: 5vw;margin-top: 1vh"><img class="iconogris" src="/img/icono-ron.png"> Gestionar Departamentos </li></a>
                <a style="color:black;text-decoration: none" class="departamentoslinks" ng-repeat="ar in areas" href="#/root/areas/{{ar._id}}"><li class="departamentoslinks" style="list-style: none;margin-left: 3vw;margin-top: 1vh"><img class="iconogris" src="/img/icono-ron.png"> {{ar.nombre}} </li></a>

            </div>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a ui-sref="formularios" class="linkmenu"><span class="txtmenu">Formularios</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a ui-sref="documentos" class="linkmenu"><span class="txtmenu">Documentos</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#/root/fotos/"  class="linkmenu"><span class="txtmenu">Actividades</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#/root/calendar" class="linkmenu"><span class="txtmenu">Cronograma</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a ui-sref="pqrsf" class="linkmenu"><span class="txtmenu">PQRSF</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#/root/actas" class="linkmenu"><span class="txtmenu">Asociados</span></a> </li>
        </div>
    <a href="#/root/calendar">
    <div class="cccalendar" >
        <img src="/img/calendario_fondo.png" style="left: 6%;position: absolute;top: 8.4vh;width:  88.3%;">
            <div class="superiorcalendar ab">
                <p class="diacalendar ab"></p>
                <p class="dianumcalendar ab"></p>
                <p class="mescalendar ab"></p>
                <div class="siguiente"></div>
                <div class="anterior"></div>
                <div class="linecalendar"></div>
            </div>
        <div ng-controller="CalendarbarCtrl" class="calendarcontainer">
            <div ui-calendar="uiConfi.calendar" ng-model="eventSource" id="calendar2"></div>
        </div>
    </div>
    </a>



</div>

<script>
    function calcularleft(element){
        var mid = element.outerWidth()/2;
        var pare = element.parent().outerWidth()/2;
        var total = pare-mid;
        var cien = pare*2;
        var last = total*100/cien;
        return last;
    }
    moment.locale('es', {
        months : "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split("_"),
//        monthsShort : "janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.".split("_"),
        weekdays : "Domingo_Lunes_Martes_Miercoles_Jueves_Viernes_Sabado".split("_"),
        //weekdaysShort : "dim._lun._mar._mer._jeu._ven._sam.".split("_"),
        //weekdaysMin : "Di_Lu_Ma_Me_Je_Ve_Sa".split("_"),

//        relativeTime : {
//            future : "dans %s",
//            past : "il y a %s",
//            s : "quelques secondes",
//            m : "une minute",
//            mm : "%d minutes",
//            h : "une heure",
//            hh : "%d heures",
//            d : "un jour",
//            dd : "%d jours",
//            M : "un mois",
//            MM : "%d mois",
//            y : "une année",
//            yy : "%d années"
//        },

        // in case the meridiem units are not separated around 12, then implement
        // this function (look at locale/id.js for an example)
        // meridiemHour : function (hour, meridiem) {
        //     return /* 0-23 hour, given meridiem token and hour 1-12 */
        // },


        });
    $('table.calendar2 > tbody > tr > td:nth-child(-n+2)').addClass('weekend');

    $('.fc-row').click(function () {
        $alert('hola');
    });
//    $('.fc-scroller').css('height','32vh');


    $('.siguiente').click(function(){
        $('#calendar2').fullCalendar('next');

    });
    $('.anterior').click(function(){
        $('#calendar2').fullCalendar('prev');

    });



    $('.diacalendar').html(moment().locale('es').format('dddd')).css('left',calcularleft($('.diacalendar'))+'%');
    $('.dianumcalendar').html(moment().locale('es').format('DD')).css('left',calcularleft($('.dianumcalendar'))+'%');
    $('.mescalendar').html(moment().locale('es').format('MMMM')+' '+moment().format('YYYY')).css('left',calcularleft($('.mescalendar'))+'%');
</script>