
<style>
    .dtittle1
    {
        color: #575756;
        font-size: 1.5vw;
        margin-left: 35%;
    }
    .imagenesactividades
    {
        width: 15vw;
        position: absolute;
        left: 4vw;
        background: black;
        autoHeight: true
    }
    .imgactiva
    {
        border: solid green;
        margin-left: auto;
        margin-right: auto;
        autoHeight: true;
        width: 10vw;

    }
    .imagencuadro
    {
        max-width: 100%;
        overflow: hidden;
    }
    .barraderechaimg
    {
        position: absolute;
        height:50vh;
        width: 22%;
        top: 57vh;
        left: 77.9%;
    }

</style>



<div class="barraderechaimg">
    <p class="dtittle1">Actividades</p>

  <!--IMAGENES BARRA DERECHA-->
    <slick lazy-load='ondemand' autoplay='true' slides-to-show=1 slides-to-scroll=1  class="imagenesactividades">
        <div class="imagencuadro"><img class="imgactiva" data-lazy="/img/icono-f.png"></div>
        <div class="imagencuadro"><img class="imgactiva" data-lazy="/img/icono-t.png"></div>
        <div class="imagencuadro"><img class="imgactiva" data-lazy="/img/perro.jpg"></div>
        <!--<div class="imagencuadro"><img class="imgactiva" data-lazy="/img/perro2.jpg"></div>-->
    </slick>

</div>