<style>
    .barrasup
    {
        position: fixed;
        background: #e3152d;
        width: 80%;
        height: 5.5vh;
        top: 1vh;
        left: 10%;
        z-index: 10;
    }
    .username
    {
        position: absolute;
        font-family: Arial;
        font-size: 2.5vh;
        right: 25%;
        color: white;
        top: 1.5vh;
        margin: 0;
        text-align: right;
        width: 10vw;
    }
    .inicio
    {
        position: absolute;
        font-family: Arial;
        font-size: 2.5vh;
        right: 20%;
        top: 1.5vh;
        margin: 0;
    }
    .barrasup a:link
    {
        text-decoration:none;
        color: white;
    }
    .boxnoti
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 15%;
        top: 2vh;
        cursor: pointer;
    }
    .imgnoti
    {
        width: 1.6vw;
        height: auto;
    }
    .boxinb
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 11%;
        top: 2vh;
    }
    .imginb
    {
        width: 1.6vw;
        height: auto;
    }
    .boxconfig
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 3%;
        top: 1.5vh;
    }
    .imgconfig
    {
        width: 1.6vw;
        height: auto;
    }
    .line
    {
        position: absolute;
        right: 8%;
        background-color: white;
        top: 1.5vh;
        margin: 0;
        text-align: right;
        width: .1vw;
        height: 3vh;
    }
    .line2
    {
        position: absolute;
        right: 24.3%;
        background-color: white;
        top: 1.5vh;
        margin: 0;
        text-align: right;
        width: .1vw;
        height: 3vh;
    }
    .notifica
    {
        position: fixed;
        border: solid #e3152d .2vw;
        width: 15vw;
        height: 19vh;
        right: 21.8vw;
        top: 8vh;
        z-index: 10;
        background: white;
        display: none;
    }
    .notitittle
    {
        position: absolute;
        left: 2vw;
        top: 2vh;

    }
    .notitxt
    {
        font-family: Arial;
        font-size: 1.2vw;
        color: #e3152d;
        margin: 0;
    }
    .lineh
    {
        position: absolute;
        border: solid #a1a1a1 .1vw;
        width: 10vw;
        left: 1vw;
        top: 5.5vh;
    }
    .listnoti
    {
        position: relative;
        width: 12vw;
        left: 1.5vw;
        top: 1vh;
    }
    .event
    {
        margin: 0;
        font-size: .8vw;
        font-family: Arial;
        color: #575756;
    }
    .eventhour
    {
        margin: 0;
        font-size: .7vw;
        font-family: Arial;
        margin-left: .9vw;
        margin-bottom: 1vh;
        color: #a1a1a1 ;
    }
    .circulo
    {
        color: #E30613;
        margin-right:.6vw;
        font-size: .8vw;
    }

    .arrow-up
    {
        position: fixed;
        top: 7.1vh;
        right: 22.5vw;
        height: 1.5vh;
        width: 1.5vh;
        border-left: solid #E30613 .2vw;
        border-top: solid #E30613 .2vw;
        z-index: 11;
        transform: rotate(45deg);
        display: none;
        background-color:white ;

    }
    .boxinter
    {
        position: absolute;
        left: 1vw;
        top: 30%;
        width: 85%;
        overflow: hidden;
        overflow-y: scroll;
        height: 12vh;
    }

</style>



<div class="barrasup">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl as nav">
        <div>
            <p class="username" ng-show="nav.isLoggedIn()"><a>{{ nav.currentUser.username }} <div class="line2"></div> </a></p>
            <p ng-show="nav.isLoggedIn()"><a href="" ng-click="nav.logOut(nav.currentUser.username)">Cerrar Sesion</a></p>

            <p class="inicio"><a style="color: white" ui-sref="home">Inicio</a></p>
            <p class="boxnoti"><img class="imgnoti" src="/img/icononoti.png"></p>
            <p class="boxinb"><img class="imginb" src="/img/iconoinb.png"></p>
            <div class="line"></div>
            <p class="boxconfig"><img class="imgconfig" src="/img/iconoconfigurar.png"></p>
            <!--notificaciones-->
        </div>
    </nav>
</div>


<!--Cuadro Notificaciones-->
<div class="notifica ">
    <div class="notitittle ">
        <p class="notitxt">Notificaciones</p>
    </div>
    <div class="lineh"></div>
    <div class="boxinter " >

        <div class="listnoti">
            <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación</p>
            <p class="eventhour">06:00AM - 01:00PM </p>
        </div>
        <div class="listnoti">
            <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación a</p>
            <p class="eventhour">06:00AM - 01:00PM </p>
        </div>
        <div class="listnoti">
            <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación s</p>
            <p class="eventhour">06:00AM - 01:00PM </p>
        </div>
        <div class="listnoti">
            <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación d</p>
            <p class="eventhour">06:00AM - 01:00PM </p>
        </div>
        <div class="listnoti">
            <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación d</p>
            <p class="eventhour">06:00AM - 01:00PM </p>
        </div>
    </div>
</div>

<!--Triangulo Notificaciones-->

<div class="arrow-up"></div>

    <script>
        $(".boxnoti").click(function(){
            $( ".notifica" ).toggle("slow");
            $( ".arrow-up" ).toggle("slow");
        });
    </script>




    <script>
        $(document).ready(function(){
            $('.mainMenu').children('li').on('click', function() {
                $(this).children('ul').slideToggle('slow');
            });
        });
    </script>

    <style>

        .boxinter::-webkit-scrollbar
        {
            width: 0.5vw;
            position: absolute;
            left: 18vw;

        }

        .boxinter::-webkit-scrollbar-track
        {
            background: rgba(151, 151, 150, 0.34);
            border-radius: 5px;
        }

        .boxinter::-webkit-scrollbar-thumb{

            background:#E30613;
            border-radius: 5px;

        }


    </style>