<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl as nav">
    <ul class="nav navbar-nav">
        <li ng-show="nav.isLoggedIn()"><a>{{ nav.currentUser() }}</a></li>
        <li ng-show="nav.isLoggedIn()"><a href="" ng-click="nav.logOut()">Cerrar Sesion</a></li>
        <li ng-hide="nav.isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="nav.isLoggedIn()"><a href="/#/register">Register</a></li>
        <a ui-sref="home">Inicio</a>
        notificaciones
    </ul>
</nav>