<style>
    .barrasup
    {
        position: fixed;
        background: #e3152d;
        width: 100%;
        height: 5.5vh;
        top: 0vh;
        left: 0%;
        z-index: 9900;
    }

    .barrasup a:link
    {
        text-decoration:none;
        color: white;
    }
    .boxnoti
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 21.6%;
        top: 2vh;
        cursor: pointer;
    }
    .imgnoti
    {
        width: 1.6vw;
        height: auto;
    }
    .boxinb
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 20%;
        top: 2vh;
    }
    .imginb
    {
        width: 1.6vw;
        height: auto;
    }
    .boxconfig
    {
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        margin: 0;
        right: 3%;
        top: 1.5vh;
    }
    .imgconfig
    {
        width: 1.6vw;
        height: auto;
    }
    .line
    {
        position: absolute;
        right: 19%;
        background-color: white;
        top: 1.5vh;
        text-align: right;
        width: .1vw;
        height: 3vh;
    }
    .line2
    {

        margin-left: 10px;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        float: right;
        width: .1vw;
        height: 3vh;
    }
    .notifica
    {
        position: fixed;
        border: solid #e3152d .2vw;
        width: 15vw;
        height: 19vh;
        right: 20.5vw;
        top: 6.9vh;
        z-index: 10;
        background: white;
        display: none;
    }
    .notitittle
    {
        position: absolute;
        left: 2vw;
        top: 2vh;

    }
    .notitxt
    {
        font-family: Arial;
        font-size: 1.2vw;
        color: #e3152d;
        margin: 0;
    }
    .lineh
    {
        position: absolute;
        border: solid #a1a1a1 .1vw;
        width: 10vw;
        left: 1vw;
        top: 5.5vh;
    }
    .listnoti
    {
        position: relative;
        width: 12vw;
        left: 1.5vw;
        top: 1vh;
    }
    .event
    {
        margin: 0;
        font-size: .8vw;
        font-family: Arial;
        color: #575756;
    }
    .eventhour
    {
        margin: 0;
        font-size: .7vw;
        font-family: Arial;
        margin-left: .9vw;
        margin-bottom: 1vh;
        color: #a1a1a1 ;
    }
    .circulo
    {
        color: #e3152d;
        margin-right:.6vw;
        font-size: .8vw;
    }

    .arrow-up
    {
        position: fixed;
        top: 6.1vh;
        right: 21.6vw;
        height: 1.5vh;
        width: 1.5vh;
        border-left: solid #e3152d .2vw;
        border-top: solid #e3152d .2vw;
        z-index: 11;
        transform: rotate(45deg);
        display: none;
        background-color:white;

    }
    .boxinter
    {
        position: absolute;
        left: 1vw;
        top: 30%;
        width: 85%;
        overflow: hidden;
        overflow-y: scroll;
        height: 12vh;
    }
    .config
    {
        position: fixed;
        border: solid #e3152d .2vw;
        width: 15vw;
        height: 13vh;
        right: 1vw;
        top: 6.9vh;
        z-index: 10;
        background: white;
        display: none;
    }
    .arrow-upbox
    {
        position: fixed;
        top: 6.1vh;
        right: 3.2vw;
        height: 1.5vh;
        width: 1.5vh;
        border-left: solid #e3152d .2vw;
        border-top: solid #e3152d .2vw;
        z-index: 11;
        transform: rotate(45deg);
        display: none;
        background-color:white ;

    }
    .boxinter2
    {
        position: absolute;
        left: 1vw;
        top: 30%;
        width: 85%;
        height: 12vh;
    }
    .conf1
    {
        margin: 2vh;
        font-size: .8vw;
        font-family: Arial;
        color: #575756;
        margin-top: 3vh;
    }
    .conf2
    {
        margin: 2vh;
        font-size: .8vw;
        font-family: Arial;
        color: #575756;
        margin-top: 0.5vh;
    }
    .eldiv{
        position: relative;
        top: 1vh;
        right: 5vw;
        width: 50vw;
        height: 5.5vh;
    }
    .usernamediv{
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-left: 10px;
    }
    .username
    {

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.5vh;
        float: right;
        color: white;

        margin: 0;


    }
    .iniciodiv{
        vertical-align: top;
        display: inline-block;
        float: right;

    }
    .inicio
    {
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.5vh;

        margin: 0;
    }
</style>


    <div class="barrasup">
        <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl as nav">
            <div>
                <!--<p ng-show="nav.isLoggedIn()"><a  style="color:white" href="" ng-click="nav.logOut(nav.currentUser.username)">Cerrar Sesion</a></p>-->

                <!--<p class="boxinb"><img class="imgnoti" src="/img/icononoti.png"></p>-->
                <!--<p class="boxnoti"><img class="imginb" src="/img/iconoinb2.png"></p>-->
                <!--<p class="boxnoti"><img class="imginb" src="/img/iconoinb.png"></p>-->
                <!--<div class="line"></div>-->
                <div class="eldiv" ng-show="nav.isLoggedIn()">

                    <div class="usernamediv"><a  class="username" style="color: white">{{ nav.currentUser.nombre.split(" ")[0]}} {{nav.currentUser.apellido.split(" ")[0]}}</a></div>
                    <div class="line2"></div>
                    <div class="iniciodiv"><a class="inicio" style="color: white" ui-sref="home">Inicio</a></div>

                </div>

                <p class="boxconfig"><img style=" height: 70%;" src="{{usuario.data.fotoperfil == undefined ? '/img/icono_tri_blanco.png' : usuario.data.fotoperfil}}"></p>
                <!--notificaciones-->
            </div>
        </nav>
    </div>


    <!--Cuadro boxconfig-->
    <div class="config">
        <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl as nav">
            <div class="notitittle ">
                <p class="notitxt">Configuración</p>
            </div>
            <div class="lineh"></div>
            <div class="boxinter2 " >
                <div class="listconf">
                    <p class="conf1"><a ui-sref="users" style="color:#575756; text-decoration: none"> Configuración</a></p>
                </div>
                <div class="listconf">
                    <p ng-show="nav.isLoggedIn()" class="conf2"><a style="color: #575756;text-decoration: none" href="" ng-click="nav.logOut(nav.currentUser.username)"> Cerrar Sesión</a></p>
                </div>
            </div>
        </nav>
    </div>

    <!--Triangulo boxconfig-->

    <div class="arrow-upbox"></div>


    <!--Cuadro Notificaciones-->
    <div class="notifica ">
        <div class="notitittle ">
            <p class="notitxt">Notificaciones</p>
        </div>
        <div class="lineh"></div>
        <div class="boxinter " >

            <div class="listnoti">
                <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación</p>
                <p class="eventhour">06:00AM - 01:00PM </p>
            </div>
            <div class="listnoti">
                <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación a</p>
                <p class="eventhour">06:00AM - 01:00PM </p>
            </div>
            <div class="listnoti">
                <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación s</p>
                <p class="eventhour">06:00AM - 01:00PM </p>
            </div>
            <div class="listnoti">
                <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación d</p>
                <p class="eventhour">06:00AM - 01:00PM </p>
            </div>
            <div class="listnoti">
                <p class="event"> <span class="circulo">&#149;</span>Evento: Vacunación d</p>
                <p class="eventhour">06:00AM - 01:00PM </p>
            </div>
        </div>
    </div>

    <!--Triangulo Notificaciones-->

    <div class="arrow-up"></div>

    <script>
        $(".boxnoti").click(function(){
            $( ".notifica" ).toggle("slow");
            $( ".arrow-up" ).toggle("slow");
        });
    </script>


    <script>
        $(".boxconfig").click(function(){
            $( ".config" ).toggle("slow");
            $( ".arrow-upbox" ).toggle("slow");
        });
    </script>


    <script>
        $(document).ready(function(){
            $('.mainMenu').children('li').on('click', function() {
                $(this).children('ul').slideToggle('slow');
            });
        });
    </script>

    <style>

        .boxinter::-webkit-scrollbar
        {
            width: 0.5vw;
            position: absolute;
            left: 18vw;

        }

        .boxinter::-webkit-scrollbar-track
        {
            background: rgba(151, 151, 150, 0.34);
            border-radius: 5px;
        }

        .boxinter::-webkit-scrollbar-thumb{

            background:#e3152d;
            border-radius: 5px;
        }


    </style>