
<style>
    .dtittle1
    {
        color: #575756;
        font-size: 1.5vw;
        margin-left: 7.5vw;
    }
    .imagenesactividades
    {
        width: 15vw;
        position: absolute;
        left: 4vw;
        autoHeight: true
    }
    .imgactiva
    {
        margin-left: auto;
        margin-right: auto;
        autoHeight: true;
        width: 10vw;

    }
    .imagencuadro
    {
        max-width: 100%;
        overflow: hidden;
    }
    .barraderechaimg
    {
        position: absolute;
        height:50vh;
        width: 22%;
        top: 0;
        z-index: 2;
    }
    .fondobarradercha
    {
        display: inline-block;
        background-color: transparent;
        height: 100%;
        min-height: 100%;
        width: 100%;

    }



</style>


<div class="fondobarradercha" ng-controller="FoticosCtrl">

    <div class="barraderechaimg">
        <p class="dtittle1">Actividades</p>

      <!--IMAGENES BARRA DERECHA-->
        <slick lazy-load='ondemand' autoplay='true' slides-to-show=1 slides-to-scroll=1  class="imagenesactividades" id="slicking">
            <div ng-repeat="f in fotos" class="imagencuadro">
                <a href="#/root/fotos/{{f._id}}">
                    <img class="imgactiva" data-lazy="{{((!f.files[0].adjunto) ? '/img/Iconos_no_adjunto-68.png' : f.files[0].adjunto)}}">
                </a>
            </div>

        </slick>

    </div>
</div>

