<style>

    .fc-basic-view .fc-body .fc-row {
        min-height: 1vh !important;
    }
    #calendar2 .fc-widget-header{
        font-family: Openlight, arial, sans-serif;
        background-color: transparent;
        color: white;
        font-size: 2.2vh;
        padding-top: 1%;
        border:0;
    }
    table
    {
        border: 1px transparent;
    }
    #calendar2 .fc-head
    {
        border: 0;
    }
    #calendar2  .fc-widget-content{
        border: none;
    }
    #calendar2  .fc-center{
        color: #01539c;
        font-size: 5px;

    }
    #calendar2 .fc-today{
        color: white;
        background-color: #01539c;
        /*background: url('http://localhost:3000/assets/icono-calendario-d-28122440dd50b54b10baf83c2ad129800d735f747b8b73a58aa05ce0a59fede4.png') no-repeat;*/
        background-size: 3vh;
        background-position:100% 100%;
    }
    #calendar2 .fc button .fc-icon{
        position: relative;
        top: -0.05em; /* seems to be a good adjustment across browsers */
        left: -5em;
        vertical-align: middle;
    }

    #calendar2 h2{
        margin-top: 15%;
        font-size: 25px;
    }
    #calendar2 .fc-button-group{
        margin-top: -12%;
    }

    #calendar2   td.fc-day-number
    {
        font-size: 2.8vh;
        text-align: center;
        vertical-align: bottom;
        font-family: Museo, arial, sans-serif;
        padding-top: 1vh;
        color: white;
    }

    #calendar2 .fc-content-skeleton
    {
        margin-top: 1.5vh; !important
    }
    #calendar2 .fc-body
    {
        border: 0;
        background-color: #be1622;
    }

    .superiorcalendar
    {
        top: 0vh;
        left: 9%;
        width: 19vw;
        height: 60%;
        color: white;
        background-repeat: no-repeat;
        background-size:100% ;
    }
    .calendarcontainer
    {
        position: absolute;
        top: 32.4vh;
        width: 88%;
        left: 5%;
    }
    .fc-scroller {
        overflow-y: hidden !important;
    }
    .siguiente
    {
        height: 5vh;
        width: 5vh;
        transform: rotate(135deg);
        border-top: .7vh solid #E30613;
        border-left: .7vh solid #E30613;
        border-radius: .3vw .3vw .0vw .3vw;
        cursor: pointer ;
        position: absolute;
        top: 18vh;
        right: 7%;
    }
    .anterior
    {
        height: 5vh;
        width: 5vh;
        transform: rotate(-45deg);
        border-top: .7vh solid #E30613;
        border-left: .7vh solid #E30613;
        border-radius: .3vw .3vw .0vw .3vw;
        cursor: pointer ;
        position: absolute;
        top: 18vh;
        left: 7%;
    }
    #calendar2 .fc-row
    {
        height: 3.5vh !important;
    }

    .diacalendar
    {
        font-size: 3vh;
        top: 10vh;
        left: 40%;
        margin: 0;
    }
    .dianumcalendar
    {
        margin: 0;
        font-size: 18vh;
        left: 40%;
        top: 10.5vh;

    }
    .mescalendar
    {
        font-size: 3vh;
        left: 40%;
        top: 28vh;
        margin: 0;
    }
    .ab
    {
        position: absolute;
    }
    #calendar2 td.fc-other-month
    {
        color: transparent; !important;
    }
    .fc-view-container
    {
        position: absolute;
        top: 0vh;
        left: .2vw;
        width: 19.4vw;
    }
    .linecalendar
    {
        position: absolute;
        width: 93%;
        top: 32.3vh;
        left: 2%;
        height: 1px;
        background-color: white;

    }
    .iconorojo
    {
        position: relative;
        top: 1.2vh;
        left: 2vw;
        height: 1.9vh;
        width: auto;
    }
    .cajamenu
    {
        position: relative;
        margin-top: 20%;
        margin-left: 1.2%;

        width: 19vw;
        z-index: 1;
    }
    .txtmenu
    {
        position: relative;
        top: 1.2vh;
        font-size: 1vw;
        color: black;
        margin-left: 16%;
    }
    .lista
    {

        list-style-type: none;
        margin-bottom: .1vh;
        height: 4vh;

    }
    .lista:hover
    {
        cursor: pointer;
        background-image: url(/img/sombramenu.png);
    }
    .linkmenu
    {
        text-decoration: none
    }

</style>

<div style="position:absolute;height:50vh; width: 22%; top: 60vh;">

        <div class="cajamenu">
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Usuarios</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Departamento</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Formularios</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Documentos</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a ui-sref="#" class="linkmenu"><span class="txtmenu">Fotos</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Cronograma</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">PQRSF</span></a> </li>
             <li class="lista"><img class="iconorojo" src="/img/icono-rojo.png"> <a href="#" class="linkmenu"><span class="txtmenu">Asociados</span></a> </li>
        </div>

    <div style="position: relative;margin-top:15px">
        <img src="/img/calendario_fondo.png" style="left: 6%;position: absolute;top: 8.4vh;width:  89%;">
            <div class="superiorcalendar ab">
                <p class="diacalendar ab"></p>
                <p class="dianumcalendar ab"></p>
                <p class="mescalendar ab"></p>
                <div class="siguiente"></div>
                <div class="anterior"></div>
                <div class="linecalendar"></div>
            </div>
        <div ng-controller="CalendarbarCtrl" class="calendarcontainer">
            <div ui-calendar="uiConfi.calendar" ng-model="eventSource" id="calendar2"></div>
        </div>
    </div>
</div>

<script>
    function calcularleft(element){
        var mid = element.outerWidth()/2;
        var pare = element.parent().outerWidth()/2;
        var total = pare-mid;
        var cien = pare*2;
        var last = total*100/cien;
        return last;
    }
    $('table.calendar2 > tbody > tr > td:nth-child(-n+2)').addClass('weekend');

    $('.fc-row').click(function () {
        $alert('hola');
    });
    $('.fc-scroller').css('height','32vh');


    $('.siguiente').click(function(){
        $('#calendar2').fullCalendar('next');

    });
    $('.anterior').click(function(){
        $('#calendar2').fullCalendar('prev');

    });

    $('.diacalendar').html(moment().format('dddd')).css('left',calcularleft($('.diacalendar'))+'%');
    $('.dianumcalendar').html(moment().format('DD')).css('left',calcularleft($('.dianumcalendar'))+'%');
    $('.mescalendar').html(moment().format('MMMM')+' '+moment().format('YYYY')).css('left',calcularleft($('.mescalendar'))+'%');
</script>