

<style>
    .dtittle1
    {
        color: #575756;
        font-size: 1.5vw;
        margin-left: 35%;
    }
    .slider
    {
        border: solid red;
        background-color: black;
        width: 15vw;
        height: auto;
        position: absolute;
        left: 0;
    }
    .imgactiva
    {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: solid ghostwhite;
    }


</style>

<script>
    $('.single-item').slick();
</script>

<div style="position: absolute; height:50vh; width: 22%; top: 57vh; left: 77.9%; ">
    <p class="dtittle1">Actividades</p>

  <!--imagenes que cambian-->
    <!--<slick lazy-load='ondemand' autoplay='true' slides-to-show=1 slides-to-scroll=1 fade="true" class="slider lazy">-->
    <slick lazy-load='ondemand' autoplay='true' slides-to-show=1 slides-to-scroll=1 prev-arrow=".slick-prev" next-arrow=".slick-next" class="slider lazy">
        <div><div class="image"><img class="imgactiva" data-lazy="/img/icono-f.png"></div></div>
        <div><div class="image"><img class="imgactiva" data-lazy="/img/icono-i.png"></div></div>
        <div><div class="image"><img class="imgactiva" data-lazy="/img/icono-t.png"></div></div>
    </slick>
    <button type="button" class="slick-prev"></button>
    <button type="button" class="slick-next"></button>

</div>