<script>
    var numerodechats = 0;
</script>
<style>
    .chatty
    {
        position: fixed;
        width: 288px;
        height: 390px;
        bottom: 42px;
        right: 0;
        border: 1px solid white;
        z-index: 1000;
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;

    }
    .conectchat
    {
        height: 7px;
    }

    .chatbox {
        position: fixed;
        z-index: 900;
        width: 280px;
        display: none;
    }

    .chatboxhead {
        background: #e3152d;
        color: white;
        padding: 0.5rem;
        overflow: hidden;

        border-right: 1px solid rgba(85, 85, 85, 0.87);
        border-left: 1px solid rgba(85, 85, 85, 0.87);
    }

    .chatboxhead h1 {
        display: inline;
        font-size: 17px;
        font-weight: 700;
    }

    .chatboxblink {
        background-color: #176689;
        border-right: 1px solid #176689;
        border-left: 1px solid #176689;
    }

    .chatboxcontent {
        font-family: arial, sans-serif;
        height: 278px;
        width: 278px;
        max-height: 280px;
        max-width: 280px;
        overflow-y: auto;
        padding: 0px;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #eeeeee;
        background: #e5e5e5;
        line-height: .8em;
        list-style: none;
    }

    .chatboxcontent li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
    }

    .chatboxcontent .avatar {
        width: 40px;
        position: relative;
    }

    .chatboxcontent .avatar img {
        display: block;
        width: 100%;
    }

    .other .avatar:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .self {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .self .chatboxmessagecontent {
        order: 2;
        border-bottom-right-radius: 0;
    }

    .self .avatar {
        order: 1;
    }

    .self .avatar:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .chatboxmessagecontent {
        background: white;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .chatboxmessagecontent p {
        font-size: 12px;
        margin: 0 0 0.2rem 0;
        -ms-word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    .chatboxmessagecontent time {
        font-size: 9px;
        color: #ccc;
        float: right;

    }

    .chatboxinput {
        padding: 5px;
        background-color: #e3152d;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .adjuntarchat
    {
        margin: 3px 8px 0 8px;
        width: 20px;
    }
    .chatboxtextarea {

        width: 222px;
        height: 25px;
        padding: 3px 0pt 0 6px;
        border: 1px solid #eeeeee;
        margin: 1px;
        overflow: hidden;
        resize: none !important;
        font-family: Arial;
    }

    .chatboxtextareaselected {
        border: 2px solid #878787;
        margin: 0;
    }

    .chatboxmessage {
        margin-left: 1em;
    }

    .chatboxinfo {
        margin-left: -1em;
        color: #666666;
    }

    .chatboxoptions {
        float: right;
    }

    .chatboxoptions a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .chatboxtitle {
        float: left;
    }
    #searchUserBox
    {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 40px;
        width: 280px;
        background-color: #e3152d;
        border: 1px solid #e3152d;
        z-index: 2;
    }
    #searchUserBox input
    {
        margin: .6vh 0 .3vh 2.6vw;
        font-size: 20px;
        width: 216px;
        height: 26px;
        padding: 0 0 0 .3vw;
    }
    .iconochatnofi
    {
        position: absolute;
        font-size: 2.5vh;
        top: .8vh;
        left: .7vw;
        color: white;
    }
    .imguserchat
    {
        margin-top: .4vh;
        margin-left: .4vw;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        overflow: hidden;
        display:inline-block;
    }
    .subirarchvos
    {
        width: auto;
        height: 60px;
        float: left;
        opacity: .7;
        order: 1;
        margin-right: 10px ;

    }
    .subirarchvos:hover
    {
        opacity: 1;
    }
    .imagenadjuntochat
    {

        order: 2;
        max-height: 60px;
        min-height: 60px;
        height: 60px;
        max-width: 80px;
    }
    .progresosubidachat{

        margin-top: 10px;
        width: 128px;
        height: 15px;
        background-color: #ededed;

        float: left;

    }
    .cancelarsubidachat
    {
        order: 2;
        height: 15px;
        margin-top: 10px;
        float: right;
    }
    .chatboxmessagecontents
    {
        max-width: 150px;
    }
    .progresointernochat
    {

        background-color: #878787;
        height: 100%;
        width: 0;
        color: white;
    }
    .subirarchvos2
    {
        width: auto;
        height: 60px;
        float: left;
        order: 1;
        margin-right: 10px ;
    }
</style>

<div ng-controller="ChatCtrl" id="chap">




    <!--buscadode chat-->
    <div id="searchUserBox" >
        <i class="fa fa-comments iconochatnofi" ></i>
        <input placeholder="Buscar..." type="text" ng-model="search" required>
    </div>

    <!--Caja de chatr gris "-->
    <div class="chatty" ng-show="search.length > 0">
        <div style="background-color: #e3152d; width: 100%; height: 3vh;border: solid 1px #e3152d ">

        </div>
        <div style="background-color: #e5e5e5; width: 90%; min-height:88%; margin-left: 5%">
            <div ng-repeat="users in usuariosconectados | filter:search | orderBy: 'actual'"style="margin-bottom: 10px;margin-top: 10px">
                <div style="margin-top: 5px" ng-click="generarChat(users.username , titleize(users.apellido) +' ' + titleize(users.nombre))">
                    <div class="imguserchat">
                        <img style=" width:18px; height: 18px;" src="{{users.fotoperfil == undefined ? '/img/user_chat.png' : users.fotoperfil}}">
                    </div>
                    <div style="display: inline-block; position: absolute; margin-top: 5px; margin-left: .5vw;font-size: 12px";>
                         {{titleize(users.nombre.split(' ')[0])}} {{titleize(users.apellido.split(' ')[0])}}
                    </div>
                    <div style="display: inline-block; position: absolute; margin-top: 8px; right:15%">
                        <img src="/img/conectado.png" class="conectchat" ng-show="users.actual">
                        <img src="/img/desconectado.png" class="conectchat" ng-show="!users.actual" >
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>