<style>
    .adjunta
    {
        display: none;
    }
    .iconadjun
    {
        width: 3vw;
    }
    .ng-gallery
    {
        width: 52.5vw;
    }
    .ng-gallery-content > a.close-popup {

        margin-top: 50px;
    }
    .imgbtnpub{
        position:absolute;
        width: 6.8vw;
        left: 4.5%;
        top: 10px;
    }
    .titulofoto{
        position: absolute;
        color: #575756;
        top: 0;
        left: 40%;
    }
    .nombreadjuntonoticia{
        margin-top: 0%; margin-left: 25%;
    }
    @media (max-height: 500px) {
        .content{
            width: 56%;
            margin-left: 22%;
        }
    }
    @media (max-width: 900px) {
        barrader{
            display: none;
        }
        chat{
            display: none;
        }

        .imgbtnpub{
            width: 26.8vw;
        }
        .iconadjun{
            width: 12vw;
            margin-left: 17vw;
        }
        .titulofoto{
            top: 4%;
        }
        .ng-gallery{
            width: 97vw;
            margin-top: 7%;
        }
        .nombreadjuntonoticia{
            margin-top: 16px;
            margin-left: -2%;
        }
        div.ng-gallery div{
            width: 46%;
        }
        .nombreadjunto{
            font-size: 2vh;
        }
        .ng-gallery-content > a.nav-left{
            left: 8px;
        }
        .ng-gallery-content > a.nav-right{
            right: 8px;
        }
        .ng-gallery-content > img{
            top: 48%;
        }
        .ng-gallery-content > a.close-popup{
            top: 8px;
        }
    }

</style>

<h1 class="titulofoto">{{foto.nombre}}</h1>

<form  ng-show="usuario.data.adminfotos" enctype="multipart/form-data" name="myForm2" ng-submit="uploadPic(picFile)">


    <div style="position: relative; left: 18%;width: 12vw;margin-bottom: -3%; margin-top: 10px" >
        <label for="file-input">
            <img class="iconadjun" src="/img/iconoadjdoc.jpg">
        </label>
        <input type="file" class="adjunta" ngf-select ng-model="picFile"  id="file-input" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />

    </div>

        <ul class="nombreadjuntonoticia">

                <li ng-repeat="f in picFile" style="font:smaller" class="nombreadjunto">{{f.name}} {{f.$errorParam}}

              <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                     ng-bind="f.progress + '%'"></div>
              </span>
                </li>
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                </li>

        </ul>
    {{errorMsg}}


    <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>

    <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">

    <br>




    <input type="image" src="/img/botones_publicar.png" class="imgbtnpub" />

</form>

<div style="margin-top: 78px;width: 100%;height: 1px" ng-show="!usuario.data.adminfotos"></div>


<ng-gallery images="images" style="margin-left: 3%;"></ng-gallery>
