<style>
    .calendarcontainer2
    {
        position: absolute;
        top: 180px;
        width: 40%;
        left: 48%;
    }
    #calendar  .fc-scroller {
        height: 70vh !important;
    }
    .numev > p
    {
        font-size: 1.5vh;
        margin: 0;
        margin-left: .8vh;
    }
    .numev
    {
        width: 2.3vh;
        height: 2.3vh;
        border-radius: 50%;
        border: 1px solid #f39200;
        color: black;
        background-color: white;
        position: absolute;
        z-index: 5;
        top: 22%;
        left: 63%;


    }
    .cuentaeventos
    {
        position: relative;
    }
    .eventoo
    {
        background-color: rgba(243,146,0,.5);
        border: none;
        border-radius: 0 ;
        height: .5vh;
        margin-top: .5vh;
    }
    .eventoo:hover
    {
        background-color: rgba(243,146,0,1);
    }
    .iconodeevento
    {
        height: 4vh;
        margin: 60% 0 0 30%;
    }
    .fc-other-month > .cuentaeventos > .numev
    {
        display: none;
    }
    .fc-other-month > a > .cuentaeventos
    {
        display:none
    }

    #calendar .fc th, .fc td {
        border: 1px solid transparent;

        padding: 0;
        vertical-align: top;
    }
    #calendar  td.fc-day
    {
        border: 1px solid #575757;
    }
    #calendar  td.fc-day:nth-child(-n+2)
    {
        border-left: 1px solid transparent ;
    }
    #calendar   td.fc-day-number
    {
        font-size: 2.8vh;
        text-align: left;
        vertical-align: bottom;
        font-family: Museo, arial, sans-serif;
        color: #575757;
        opacity: .5;
    }

    #calendar .fc-widget-header{
        font-family: Openregular , arial, sans-serif;
        background-color: #e3152d;
        height: 30px;
        color: white;
        font-size: 2.2vh;
        padding-top: 1%;
        border: none;
    }

    .leftcal
    {
        top: 5vh;
        width: 33%;
        left: 4%;

    }
    .rightcal
    {
        top: 5vh;
        width: 55%;
        left: 39%;
        /*border: 1px solid #f39200;*/
    }
    #calendar .fc-day-grid-container
    {
        margin-top: 10px;
    }

    .messup
    {
        width: 100%;
        height: 7vh;

    }
    .onlymes
    {
        color: #575756;
        font-size: 4vh;
        position: absolute;
        margin: 0;
        top: 1vh;
    }
    .siguiente2
    {
        height: 1px;
        width: 1px;
        border: 15px solid transparent;
        border-left: 20px solid #e3152d;
        cursor: pointer ;
        position: absolute;
        top: .8vh;
        right: 1%;
    }
    .anterior2
    {
        height: 1px;
        width: 1px;
        border: 15px solid transparent;
        border-right: 20px solid #e3152d;
        cursor: pointer ;
        position: absolute;
        top: .8vh;
        left: 1%;
    }
    #calendar td.fc-today
    {
        color: #e3152d;
        opacity: 1;
    }
    #calendar td.fc-sun
    {
        color: #e3152d;
        opacity: 1;
        padding-top: 1vh;
        padding-left: 1vh;
    }
    #calendar  td.fc-other-month
    {
        color: transparent;
    }
    .fc-unthemed .fc-today {
        background: url(/assets/icono-calendario-d.png);
        background-position: bottom right;
        background-size: 30%;
        background-repeat: no-repeat;

    }
    #calendar .fc-view-container
    {

        width: 100%;
    }
    #calendar .fc-row{height:9vh !important;}
    #calendar .fc-widget-header{height:3.5vh !important;}
    .neweventicon{display: inline-block;float: right; height: 7vh;margin-left: 1vw }
    .newevent{display: inline-block;float: right; color: #01539c;font-size: 3vh}
    #formularioeventos
    {
        position: absolute;
        top: 30.5vh;
        left: 43vw;
    }
    .numev > p
    {
        font-size: 1.5vh;
        margin: 0;
        margin-left: .8vh;
    }
    .numev
    {
        width: 2.3vh;
        height: 2.3vh;
        border-radius: 50%;
        border: 1px solid #e3152d;
        color: black;
        background-color: white;
        position: absolute;
        z-index: 5;
        top: 35%;
        left: 53%;


    }
    .cuentaeventos
    {
        position: relative;
    }
    .iconodeevento
    {
        height: 4vh;
        margin: 65% 0 0 15%;
    }
    .leftcal
    {
        top: 30vh;
        width: 33%;
        left: 12%;
    }
    .showndia
    {
        color: #e3152d;
        font-size: 6vh;
        display: inline-block;
        margin: 2vh 5px 0 0;
    }
    .showldia
    {
        font-size: 2.5vh;
        display: inline-block;
        margin: 2vh 0 0 0;
    }
    .horaround
    {
        display: inline-block;
        vertical-align: -30%;
        font-size: 1vh;
        color: #878787;
    }
    .titsub
    {
        display: inline-block;
        padding-bottom: .5vh ;
        border-bottom: 1px solid #878787;
        width: 80%;
        color: #878787;
        font-size: 2vh;
        margin-left: 2%;
        margin-top: 3vh;
    }
    .desplegarev
    {
        margin-top: .5vh;
        margin-right: .5vw;
        float: right;
        height: 1.5vh;
        opacity: .7;
        cursor: pointer;
    }
    .desplegarev:hover
    {
        opacity: 1;
    }
    .basurita
    {
        margin-top: .5vh;
        margin-right: .5vw;
        float: right;
        height: 1.5vh;
        opacity: .7;
        cursor: pointer;
    }
    .basurita:hover
    {
        opacity: 1;
    }
    .infoevshow
    {
        display: none;
        width: 70%;
        margin-left: 19%;
    }
    .titsub2
    {
        display: inline-block;
        padding-bottom: .5vh ;
        width: 80%;
        color: #575756;
        font-size: 2vh;
        margin: 0;
        margin-left: 2%;
        opacity: 0;
    }
    .labelshowevdes
    {
        margin: 0;
        color: #e3152d;
        font-size: 1.7vh;
    }
    .datoshowevdes
    {
        margin-top: 0vh;
        color: #575756;
        font-size: 1.5vh;
        margin-left: 1.3vh;
    }
    .titulocrono
    {
        position: absolute;
        font-size: 7vh;
        color: white;
        top: -20px;
        left: 5%;
        font-weight: bold;
    }
    .horaini
    {
        margin-top: 15%;
        width: 7vw;
    }
    .horafin
    {
        margin-top: 15%;
        margin-left: .5vw;
        width: 7vw;
    }
    .btncreareven
    {
        margin-top: 15%;
        margin-bottom: 5% ;
        width: 8vw;
        opacity: 0.6;
    }
    .btncreareven:hover
    {
        opacity: 1;
    }
    .fondofalso
    {

        margin-bottom: 2vh;
        margin-top: 15px;
        width: 90%;
        height: 78%;
        margin-left: 5%;
        background: #e3e3e3;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);"
    }
    #modal
    {
        position: fixed;
        height:100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 11;
    }

    .btncrearevento
    {
        left: 7vw;
        top: 26vh ;
        position: absolute;
    }
    .fondotitulocrono{
        width: 100%;
        margin-top: -60px;
    }
    .iconoeliminarevento{
        height:2vh;
        margin-left:4%;
    }
    .iconoeventos{
        height:2vh;
        margin-left:4%;
    }
    .crearevento{
       background-color: white;
        width: 24vw;
        height: 54vh;
        margin-top: 15%;
        margin-left: 39%;
    }
    .cerro2{
        display: none;
    }
    .imagencrearevento{
        width: 25%;
    }
    /*@media (max-height: 700px) {*/
        /*.calendarcontainer2*/
        /*{*/
            /*top: 100px;*/
        /*}*/
        /*.btncrearevento{*/
            /*top: 23vh !important;*/
        /*}*/
    /*}*/
    @media (max-width: 1000px) {
        .btncrearevento{
            top: 108vh !important;
            left: 45vw;
            width: 100vw;
        }
        .fondotitulocrono{
            width: 89%;
            margin-top: 0%;
            margin-left: 5%;
        }
        .titulocrono{
            top: 2%;
            left: 8%;
        }
        .leftcal{
            top: 114vh;
            width: 90%;
            left: 7%;
        }
        .calendarcontainer2{
            width: 80%;
            left: 10%;
            top: 78px;
        }
        .fondofalso{
            height: 220vh;
        }
        .iconoeliminarevento{
            height: 5vh;
        }
        .iconoeventos{
            height: 5vh;
        }
        .desplegarev{
            height: 4.5vh;
        }
        .showldia{
            font-size: 5vh;
        }
        .titsub{
            font-size: 3vh;
        }
        .horaround{
            font-size: 3vh;
        }
        .datoshowevdes{
            font-size: 3vh;
        }
        .labelshowevdes{
            font-size: 4vh;
        }
        .crearevento{
            width: 80vw;
            height: 83vh;
            margin-left: 10%;
        }
        #formularioeventos{
            top: 16.5vh;
            left: 18vw;
        }
        .horaini{
            width: 29vw;
        }
        .horafin{
            width: 28vw;
        }
        .btncreareven{
            width: 36vw;
        }
        .cerro2{
            display: block;
            width: 10vw;
            float: right;
            margin-top: 8vh;
            margin-right: 4vw;
        }
        .cerro{
            display: none;
        }
        .imagencrearevento{
            width: 45%;
        }
    }


</style>

<img src="/img/Iconos-83.png" class="fondotitulocrono">

<label class="titulocrono">Cronograma</label>

    <div class="fondofalso">

    <div ng-controller="CalendarbarCtrl">
            <div class="leftcal ab">

            </div>

                    <div class="calendarcontainer2">
                        <div class="messup">
                            <div class="siguiente2"></div>
                            <div class="anterior2"></div>
                            <p class="onlymes"></p>
                        </div>
                        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" id="calendar"></div>
                    </div>
                <div  ng-show="usuario.data.admincrono" class="btncrearevento">
                    <img src="/img/crear-evento-1.png" class="imagencrearevento">
                </div>

            </div>
    </div>


<div id="modal">
    <div style="position: absolute; width: 100vw;height: 100vh;" class="cerro">

    </div>
    <img src="/img/cerrarevento.png"  class="cerro2">
    <div class="crearevento">
                <div id="formularioeventos">
                    <form ng-submit="crearEvento(nombre,descripcion,fechainicio,fechafinal,horainicio,horafinal)">
                        <md-input-container style="margin-bottom: 0%">
                            <label>Nombre</label>
                            <input type="text" ng-model="nombre" required>
                        </md-input-container><br>
                        <md-input-container style="margin-top: 0%; margin-bottom: 0%">
                            <label>Descripcion</label>
                            <input type="text" ng-model="descripcion" required>
                        </md-input-container><br>

                        <md-datepicker ng-model="fechainicio" md-placeholder="Fecha de inicio"></md-datepicker><br>

                        <md-datepicker ng-model="fechafinal" md-placeholder="Fecha final"></md-datepicker><br>

                        <input ui-timepicker ng-model="horainicio" placeholder="Hora Inicio" class="horaini">

                        <input ui-timepicker ng-model="horafinal" placeholder="Hora Final" class="horafin"><br>

                        <div style="vertical-align: 10vh" >
                            <input type="image" src="/img/crear-evento-1.png"  class="md-raised btncreareven">
                        </div>
                    </form>
                </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#modal').hide();
        $('.crearevento').show();

       $('.btncrearevento').click(function(){
           $('#modal').show();
           $('.crearevento').show();
       }) ;
        $('.btncreareven').click(function(){
            $('#modal').hide();
        });

       $('.cerro').click(function(){
           $('#modal').hide();
       });
       $('.cerro2').click(function(){
           $('#modal').hide();
       });
    });
</script>