<barranav></barranav>

<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }

    .enlinea
    {
        display: inline-block;
    }
    .tab1{ width: 15%;height: 5vh;border: .1vw solid #575757;vertical-align: top;border-left: 0;border-top: 0}
    .tab2{ width: 60%;height: 5vh;border: .1vw solid #575757;vertical-align: top;border-left: 0;border-top: 0}
    .tab3{ width: 15%;height: 5vh;border: .1vw solid #575757;vertical-align: top;border-left: 0;border-top: 0}
    .tab4{ width: 10%;height: 5vh;border: .1vw solid #575757;vertical-align: top;border-right: 0;border-top: 0;border-left: 0}
    .last > .tab1{border-bottom: 0}
    .last > .tab2{border-bottom: 0}
    .last > .tab3{border-bottom: 0}
    .last > .tab4{border-bottom: 0}
    .conthead
    {
        width: 100%;
        max-height:5vh;
        vertical-align:top;
        display:flex
    }
    #tab11{border-left: 0;border-top: 0}
    #tab22{border-top: 0;border-left: 0;text-align: center;font-weight: bold;font-family: Arial;font-size: 1vw;}
    #tab33{border-top: 0;border-left: 0;text-align: center;font-weight: bold;font-family: Arial;font-size: 1vw;}
    #tab44{border-top: 0;border-right: 0}
    .mi
    {
        margin-left: .5vw;
        font-family: Arial;
        font-size: 1vw;
    }
    .iconodocument
    {
        margin-left: 35%;
    }
    .boxnewdocument
    {
        margin-top: 3vh;
        width: auto;
        height: auto;
        left: 48%;
    }
    .contac
    {
        position: relative;
        margin-top: 1vh;
    }

    /*icono adjuntar*/
    .container
    {
        width: 2vw;
        height: 4vh;
    }
    .select-wrapper
    {
        background: url(img/iconoadju.png) no-repeat;
        background-size:contain;
        display: block;
        position: relative;
        width: 4vw;
        height: 3vh;
        left: 13vw;
    }
    #image_src
    {
        width: 26px;
        height: 26px;
        margin-right: 100px;
        opacity: 0;
        filter: alpha(opacity=0); /* IE 5-7 */
    }
    .btnpubli
    {
        margin-left:9vw;
        width: 5vw;
        height: 3vh;
        border-radius: .2vw;
        box-sizing: border-box;
        transition:all 1s cubic-bezier(.25,.8,.25,1) ;
        background-color: white;
        cursor: pointer;
        text-align: center;
        font-size: 1vw;
        margin-bottom: 1vh;
    }
    .btnpubli:hover
    {
        background-color: #E30613;
    }
    button
    {
        color: grey;
        background-color: transparent;
        -webkit-appearance: none;
        padding: 0;
    }
    #blanco:hover
    {
        color: white;
    }
    ul > li
    {
        font-size: .8vw;
    }
    .formudoc
    {
        width: 15vw;
        width: auto;
        display: none;

    }
    .formucar
    {
        position:relative;
        width: auto;
        display: none;
    }
    .botonuno
    {
        height: 5vh;
        margin-left: 47%;
    }
    .botondos
    {
        margin-left: 2%;
        width: 12vw;
        height: 5vh;
        left: 16vw;
    }


</style>



    <br>

{{document.nombre}}


    <!--button new document and folder-->
    <div class="boxnewdocument">
       <img src="img/icono-documento-n.png" id="btn1" class="botonuno">
       <img src="img/icono-carpeta-n.png"id="btn2" class="botondos">
    </div>

    <div class="contac">

        <!--Seleccionar archicos y publicar-->
        <div class="formudoc">

           <form  enctype="multipart/form-data" name="myForm2" style="margin: 0" ng-submit="uploadPic(picFile)">

            <div class="container">
                <span class="select-wrapper">
                  <input type="file"  ngf-select ng-model="picFile" id="image_src" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />
                </span>
            </div>

                <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
                <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">

                <p style="margin: 0; font-size: 1vw">Files:</p>


                        <div ng-repeat="f in picFile" style="font:smaller; display:inline-block;margin-left: 1vw; margin-top: 1vh ">
                            <div style="border: solid darkcyan; width: 7.5vw;height: 12vh;margin-bottom: 1vh">
                                {{f.name}} {{f.$errorParam}}
                            </div>
                          <span class="progress" ng-show="f.progress >= 0">
                            <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                          </span>
                        </div>


                            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                            </li>


                {{errorMsg}}

                <!--<md-button type="submit"  class="md-raised"> Publicar </md-button>-->

               <div class="btnpubli" style="margin-left: 90%">
                   <button id="blanco" style="width: 5vw; height: 3vh; border: 0;  left:0"> Publicar</button>
               </div>

           </form>


        </div>


        <!--Crear Carpetas-->

        <div class="formucar">
            <form name="myForm" style="margin: 0" ng-submit="CarpenCarp(document._id)">

                <md-input-container style="font-size: 1vw; width: 55vw">
                    <label>Nombre de la Carpeta</label>
                    <input type="text" ng-model="nombre" required md-maxlength="20">
                </md-input-container>


                <div class="btnpubli" style="margin-left: 90%">
                    <button id="blanco" style="width: 5vw; height: 3vh; border: 0; top:-1vh; left:0"> Publicar</button>
                </div>

            </form>
        </div>

    </div>



    <br>

    <!--Titulo de la tabla-->
    <div class="conthead">
        <div class="enlinea tab1" id="tab11"></div>
        <div class="enlinea tab2" id="tab22"> <p>Nombre</p></div>
        <div class="enlinea tab3" id="tab33"> <p>Tamaño</p></div>
        <div class="enlinea tab4" id="tab44"></div>
    </div>

    <div ng-repeat="doc in document.carpetas" style="display:flex">
        <div class="enlinea tab1" ><img src="/img/icono-carpeta.png" style="height: 85%;margin-top: 2%; margin-left: 35%"></div>
        <div class="enlinea tab2" ><p class="mi"><a href="#/documents/{{doc._id}}">{{doc.nombre}}</a></p></div>
        <div class="enlinea tab3" ><p class="mi"> -- </p></div>
        <div class="enlinea tab4" ></div>
    </div>

    <!--info de los documentos y carpetas-->
    <div ng-repeat="archivo in document.files" style="display: flex;" ng-class="{'last':$last}">

    <div class="enlinea tab1"><img src="/img/icono-documentos-r.png" style="height: 90%; margin-top: 1%; margin-left: 38%"></div>
        <div class="enlinea tab2"><p class="mi"><a href="{{archivo.adjunto}}">{{archivo.nombre}}</a></p></div>
        <div class="enlinea tab3"><p class="mi">{{archivo.tamano}}</p></div>
    <div class="enlinea tab4">
        <p class="mi">
            <img src="img/icono-editar.png"style="height: 2vh;margin-left: .7vw">
            <img src="img/iconox.png"style="height: 2vh;margin-left: .2vw">
        </p>

    </div>


    </div>




<script>
    $("#btn1").click(function(){
       $(".formudoc").toggle("slow")
    });
    $("#btn2").click(function(){
       $(".formucar").toggle("slow")
    });
</script>