<style>
    .fondoformulario
    {
        width: 90%;
        margin-left: 5%;
        margin-top: 6vh;
        position: relative;
        background: #e3e3e3;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
    }
    .boxformularios
    {
        position: relative;
        background: #ebebeb;
        width: 90%;
        min-height: 30vh;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);

    }

    .iconoformulario
    {
        position: absolute;
        width: 7vw;
        left: 4%;
    }
    .boxiconossuperiores
    {
        margin-top: 2%;
        padding-top: 1vh;
    }
    .iconossuperioruno
    {
        height: 2vh;
        margin-left: 91%;
    }
    .iconossuperiordos
    {
        height: 2vh;
        margin-left: 1%;
    }
    .btnresultados
    {
        position: relative;
        top: 1vh;
        left: 11vw;
        width: 6vw;
        opacity: 0.6;
    }
    .btnresultados:hover
    {
        opacity: 1;
    }

    .anadir
    {
        position: relative;
        width: 6vw;
        opacity: 0.6;
    }
    .anadir:hover
    {
        opacity: 1;
    }
    .btncrear
    {
        margin-left: 83%;
        width: 6vw;
        opacity: 0.6;
    }
    .btncrear:hover
    {
        opacity: 1;
    }

    /*INFORMACION DEL FORMULARIO*/

    .tituloformulario
    {
        margin-left: 11vw;
        font-size: 1.5vw;
        font-weight: bold;
    }
    .boximgresultado
    {
        position: absolute;

        margin-left: 2vw;
    }

    .preguntasformulario
    {
        width: 30vw;
        margin-left: 10.7vw;;
    }

    .imguserformulario
    {
        position: relative;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        left: 1vw;
        top: 1vh;
        overflow: hidden;
    }
    .tx1
    {
        position: absolute;
        top: 1%;
        left: 22%;
        width: 36.5vw;
    }
    .dx1
    {
        position: absolute;
        top: 29%;
        left: 22%;
        width: 36.5vw;
    }
    .lineaform
    {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        border: solid 1px;
    }
    md-input-container.md-default-theme .md-input, md-input-container .md-input {
        border-color: black;
    }
    .iconoresponderformulario
    {
        width: 6.5vw;
        height: auto;
        opacity: 0.6;
    }
    .iconoresponderformulario:hover
    {
        opacity: 1;
    }
    .lupita
    {
        left: 47.5vw;
        position: relative;
        width: 1vw;
        height: auto;
    }
    .cajabuscar
    {
        margin-left: 5%;
        width: 90%;
        margin-top: 5vh;
    }
    .btnpublicar
    {
        margin-left: 82.5%;
        margin-bottom: 5%;
        margin-top: 1%;
        width: 6vw;
        opacity: 0.6;
    }
    .btnpublicar:hover
    {
        opacity: 1;
    }
    .imgtx
    {
        width: 2vh;
        height: auto;
    }
    .boxiconremove
    {
        top: 2vh;
        position: absolute;
        right: 2vw;
    }
    md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
        color: #E30613;
    }
    md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
        background-color: #E30613;
    }
    md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
        background-color: #E30613;
    }
    md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
        background-color: rgba(227,6,19,0.5);
    }

    .boxbtn
    {
        position: relative;
    }
    #inputselectformulario{
        width: 15vw; margin: 0;
        margin-left: 25vw;
        position: absolute;
        bottom: 17%;
        z-index: 600;


    }
    @media (max-width: 600px) {
        .fondoformulario{
            height: 300px;
        }
        .imguserformulario
        {
            position: relative;
            border-radius: 50%;
            width: 8vw;
            height: 8vw;
            left: 1vw;
            top: 1vh;
            overflow: hidden;
        }
        .tx1 {
            position: static;
            margin-left: 5%;
            width: 90%;
        }
        .dx1 {
            position: static;
            margin-left: 5%;
            width: 90%;
        }
        #inputselectformulario {
            width: 100%;
            position: static;
            margin-left: 0;
        }
        #selectCrearDiv{
            margin-left: 5%;
            width: 90%;
        }
        .btnpublicar {
            margin-right: 5%;
            float: right;
            margin-bottom: 0;
            margin-top: 15px;
            width: 25%;
            opacity: 0.6;
        }
    }


</style>


<div class="fondoformulario" ng-show="usuario.data.adminforms">



    <div class="imguserformulario">
        <img style=" height: 100%;" src="{{usuario.data.fotoperfil == undefined ? '/img/user_chat.png' : usuario.data.fotoperfil}}">
    </div>

    <form name="myForm" ng-submit="crearFormulario()">

        <div class="tx1">
            <md-input-container style="width: 100%">
                <label>Nombre del Formulario</label>
                <input type="text" ng-model="nombre" required>
            </md-input-container>
        </div>

        <div class="dx1">
            <md-input-container style="width: 100%">
                <label>Descripcion</label>
                <input type="text" ng-model="descripcion" required>
            </md-input-container>
        </div>

        <div style="display: inline-block;" id="selectCrearDiv">
            <md-input-container id="inputselectformulario">
                <md-select ng-model="area" placeholder="Privacidad" value="{{area.nombre}}" md-on-open="loadAreas()">
                    <md-option ng-repeat="area in areas" value="{{area.nombre}}">
                        {{area.nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

         <div class="boxbtn" >
            <input type="image" src="/img/boton-crear.png"  class="md-raised btnpublicar">
         </div>


    </form>

</div>

<div class="cajabuscar">
    <img class="lupita" src="/img/lupa.png">
    <md-input-container style="margin-left: 5%; width: 90%; margin-bottom: 0">
        <label>Buscar</label>
        <input type="text" ng-model="search" required>
    </md-input-container>
</div>

<div ng-repeat="forma in formularios | filter:search | orderBy:'-'" class="boxformularios" >

    <!--{{forma}}-->
    <!--ICONOS DE EDITAR Y ELIMINAR-->
    <div class="boxiconossuperiores">

        <img class="iconossuperioruno" src="/img/icono-editar.png" ng-click="editing = true"  ng-show="usuario.data.adminforms">
        <img class="iconossuperiordos" src="/img/icono-eliminar-g.png" ng-show="usuario.data.adminforms" ng-click="remove(forma)">
    </div>

    <div>
        <label class="tituloformulario" >{{forma.nombre}}</label>
    </div >

    <div class="boximgresultado">
        <a href="#/root/formularios/{{forma._id}}">
            <img class="iconoresponderformulario" src="/img/icono-fomulario.png">
        </a>
    </div>

    <div>
        <p style="width: 37vw; margin-left: 11vw; margin-top: 1vh; margin-bottom: 1vh">
            <img style="width: 1vw; height: auto" src="/img/icono-ron.png"> <span>{{forma.fecha | moment:'DD'}} de {{forma.fecha | moment:'MMMM'}} {{forma.fecha | moment:'YYYY'}}</span>
        </p>
    </div>

    <div>7
        <p style="width: 37vw; margin-left: 11vw; margin-top: 1vh; margin-bottom: 1vh">
            <img style="width: 1vw; height: auto" src="/img/icono-ron.png"> <span>{{forma.descripcion}}</span>
        </p>
    </div>

    <div>
        <p style="width: 37vw; margin-left: 11vw; margin-top: 1vh; margin-bottom: 1vh">
            <img style="width: 1vw; height: auto" src="/img/icono-ron.png"> <span>{{forma.respuestas.length}} personas encuestadas</span>
        </p>
    </div>

    <div>
        <a href="#/root/formularios/{{forma._id}}/results" ng-show="usuario.data.adminforms">
            <img class="btnresultados" src="/img/boton_resultados.png"> </a>
    </div>
    <div ng-show="editing">
    <h3 style="margin-left: 22%">Preguntas</h3>
    <div ng-repeat="pp in forma.preguntas">

        <p style="margin: 4px 0 0 25%;display: inline-block;">{{pp.pregunta}}</p>
        <img src="/img/icono-eliminar-g.png" style="height: 18px;display:inline-block;cursor: pointer" ng-click="removerPregunta(pp._id)">
    </div>

        <md-switch ng-model="forma.habilitado" aria-label="Switch 1" ng-change="habilitando(forma.habilitado,forma._id)" style="margin-left: 22%">
            Habilitado? {{(forma.habilitado == true) ? "SI" :  "NO" }}
        </md-switch>

    <div class="preguntasformulario">
        <form ng-submit="addPregunta(forma._id)" >
            <div style="width: 10vw;display: inline-block;margin-top: 2vh">
                <md-input-container style="height: 3vh">
                     <label>Pregunta</label>
                     <input type="text" ng-model="pregunta.valor">
                </md-input-container>
            </div>

            <div style="width: 10vw;display: inline-block;">
                <md-input-container>
                    <label>Tipo</label>
                    <md-select ng-model="tipo.valor">
                        <md-option ng-repeat="state in states" value="{{state.html}}">
                            {{state.visual}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div ng-show="tipo.valor == 'checkbox' || tipo.valor == 'radio'">

                <md-input-container style="height: 3vh">
                    <label>Opcion</label>
                    <input type="text" ng-model="opcion.valor">
                </md-input-container>


                <!--<input type="text" ng-model="opcion.valor">-->
                <div style="width: 6vw; border: 0; margin-bottom: 1vh" ng-click="addOpcion()">
                    <img class="anadir" src="/img/botones_anadir.png">
                </div>


                <div ng-repeat="opt in opciones" style="width: 15vw;height: 5vh;cursor: pointer">
                    {{opt}}
                    <img src="/img/icono-eliminar-g.png" style="float: right;height: 66%;cursor: pointer" ng-click="removerOpcion($index)">
                </div>

            </div>

            <div style="position: relative; top: -6.5vh; left: 29vw">
                <md-button type="submit"  class="md-raised"> Crear Pregunta </md-button>
            </div>

        </form>

    </div>
    </div>

</div>
