<style>
    .nv-label > text
    {
        fill: white !important;
    }
    .graficasform
    {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    .tittleresul
    {
        text-align: center;
        font-size: 2vw;
    }
    .btnexportar
    {
        position: relative;
        width: 10vw;
        opacity: .6;
        left: 80%;
    }
    .btnexportar:hover
    {
        opacity: 1;
    }
    @media (max-width: 1000px) {
        .tittleresul{
            font-size: 18px;
            width: 273px;
            margin-left: 52px;
        }
        .btnexportar{
            left: 226px;
            width: 112px;
            margin-top: 86px;
            margin-bottom: 33px;
        }
        .graficasform{
            width: 100%;
            display: list-item;
            vertical-align: top;
            height: 400px;
        }
        .content{
            min-height: 11%;
            height: 19vh;
        }
        svg.nvd3-svg{
            height: 300px !important;
        }
        .nv-label > text {
            fill: #ffffff !important;
            text-anchor: middle !important;
        }
        body{
            top: 0 !important;
        }
        barrader{
            display: none;
        }
        chat{
            display: none;
        }

    }


</style>

<div ng-repeat="resu in resultadofinal" class="graficasform">
    <h1 class="tittleresul">{{formulario.preguntas[$index].pregunta}}</h1>
    <nvd3 options="options" data="resu"></nvd3>
</div>



<div id="exportable" >
    
    <table style="display: none;">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Preguntas y Respuestas</th>
        </tr>
        </thead>
        <tbody >

        <tr ng-repeat="resp in formulario.respuestas">

            <td>{{resp.author}}</td>
            <td>{{resp.fecha}}</td>
            <td ng-repeat="r in resp.dato">{{r.pregunta}}: {{typee(r.respuesta) == "object" ? alegible(r.respuesta) : r.respuesta}}</td>
        </tr>
        </tbody>
    </table>
</div>

    <img ng-click="exportData()" class="btnexportar"  src="/img/boton-exportar.png">

<!--<button ng-click="exportData()">Export</button>-->