<style>
    .nv-label > text{
        fill: white !important;
    }
    .graficasform
    {
        width: 50%;
        display: inline-block;
    }
</style>

<div ng-repeat="resu in resultadofinal" class="graficasform">
    <h1>{{formulario.preguntas[$index].pregunta}}</h1>
    <nvd3 options="options" data="resu"></nvd3>
</div>
{{formulario.respuestas}}
<div id="exportable">
<table style="display: none">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Preguntas y Respuestas</th>
    </tr>
    </thead>
    <tbody >
    <tr ng-repeat="resp in formulario.respuestas">
        <td>{{resp.author}}</td>
        <td>{{resp.fecha}}</td>
        <td ng-repeat="r in resp.dato">{{r.pregunta}}: {{r.respuesta}}</td>
    </tr>
    </tbody>
</table>
</div>
<button ng-click="exportData()">Export</button>