<barranav></barranav>

<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }
    form .progress {
        line-height: 15px;
    }
    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }
    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
    .content
    {
        position: absolute;
        top: 5.5vh;
        left: 22%;
        width: 56%;
    }
    .boxpubli
    {
        margin-bottom: 2vh;
    }
    .imgpublica
    {
        width: 100%;
        height: auto;

    }
    .tittlepli
    {
        font-family: Arial;
        font-size: 1.5vw;
        color: red;
        margin: 0;
    }
    .boxiconremove
    {
        position: absolute;
        right: 1%;
    }
    .imgtx
    {
        width: 2vh;
        height: auto;
    }

    div.transbox
    {
        background-color: black;
        opacity: 0.7;
        height: 8vh;
        margin-top: -8vh;
    }
    div.transbox p
    {
        font-family: Arial;
        font-size: 1vw;
        font-weight: bold;
        color: white;
    }
    .description
    {
        margin: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        padding-top: 1.5vh;
    }

</style>

<div class="content">

<md-input-container>
    <label>Filtrar</label>
    <input type="text" ng-model="search" required md-maxlength="10">
</md-input-container>


<div>


    <div ng-repeat="post in posts | orderBy: '-upvotes' | filter:search">

        <div class="boxpubli">

            <p class="tittlepli">{{post.title}}
            <span class="boxiconremove"><a ng-click="remove(post)"><img class="imgtx" src="/img/iconox.png"></a></span>
            </p>

            <div class="boxdescrip">
                <img class="imgpublica" src="{{post.file}}">
                <!--<a ng-click="remove(post)">Remove</a>-->
                  <div class="transbox">
                     <p class="description">{{post.link}}</p>
                  </div>
            </div>


            posted by <a>{{post.author}}</a> |



            {{post.comments}}

        </div>

    </div>


 <div style="border: solid red">
    <form  enctype="multipart/form-data" name="myForm" ng-submit="uploadPic(picFile)">
        <md-input-container>
            <label>Titulo</label>
            <input type="text" ng-model="title" required md-maxlength="25">
        </md-input-container>
        <md-input-container>
            <label>Link</label>
            <input type="text" ng-model="link" required md-maxlength="100">
        </md-input-container>
        <br>Photo:
        <input type="file" ngf-select ng-model="picFile" ngf-multiple="false" name="file" accept="image/*" ngf-max-size="200MB" required />
        <br>

        <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>

        <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">

        <br>

            <span class="progress" ng-show="picFile.progress >= 0">
              <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
            </span>
        <span ng-show="picFile.result">Upload Successful</span>


        <md-button type="submit"  class="md-raised"> Publicar </md-button>

    </form>
 </div>

    <div ng-hide="isLoggedIn()">
        <h3>Necesitas   <a href="/#/login">Iniciar Sesion</a> o <a href="/#/register">Registrarte</a> Antes de poder publicar</h3>
    </div>




</div>
</div>
<div style="position: absolute; height:50vh; width: 22%; top: 5.5vh; left: 0"></div>
<div style="position: absolute; height:50vh; width: 22%; top: 5.5vh; left: 78%"></div>
