<br>
<br>
<br>

<style>
    .pqnav
    {
        display: inline-block;
        color: #E30613;
        cursor: pointer;
    }
</style>

<!--{{usuario.data}}-->
<div ng-show="!usuario.data.adminpqrsf">
    <h1 class="pqnav" ng-click="mispq = false">Nueva PQRSF</h1>
    <h1 class="pqnav" style="float: right" ng-click="mispq = true">Mis PQRSF</h1>

    <div ng-show="mispq">
    <div ng-repeat="pq in pqrsf" class="boxpubli">
        <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion'" src="/img/peticion.png">
        <img class="tipodepqrsf" ng-if="pq.tipopq == 'Solicitud'" src="/img/solicitud.png">
        <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/felicitacion.png">
        <img class="tipodepqrsf" ng-if="pq.tipopq == 'Reclamo'" src="/img/reclamo.png">
        <img class="tipodepqrsf" ng-if="pq.tipopq == 'Queja'" src="/img/queja.png">
        Fecha de recibido: {{pq.fechainicio}}
        Fecha de cierre: {{!pq.fechacierre ? '--/--/--' : pq.fechacierre}}

        <img class="tipodepqrsf" ng-if="pq.estado == 'En espera'" src="/img/espera.png">
        <img class="tipodepqrsf" ng-if="pq.estado == 'En tramite'" src="/img/tramite.png">
        <img class="tipodepqrsf" ng-if="pq.estado == 'Cerrado'" src="/img/cerrado.png">

    </div>
</div>


    <div ng-show="mispq == false">
        <form name="myForm2" ng-submit="uploadPic(picFile)">
    <md-input-container>
        <label>Nombres y Apellidos</label>
        <input type="text" ng-model="nombre" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <md-select  placeholder="Tipo de documento" ng-model="tdocumento">
            <md-option ng-repeat="tipos in tdocumentos" value="{{tipos.nombre}}">
                {{tipos.nombre}}
            </md-option>
        </md-select>
    </md-input-container>

{{ciudad}}
    <md-input-container>
        <label>Documento</label>
        <input type="text" ng-model="ndocumento" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Empresa</label>
        <input type="text" ng-model="empresa" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Profesion</label>
        <input type="text" ng-model="cargo" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Lugar</label>
        <input type="text" ng-model="ciudad2" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <md-select  placeholder="PQRSF" ng-model="tipopq">
            <md-option ng-repeat="t in tipospq" value="{{t.nombre}}">
                {{t.nombre}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Comentario</label>
        <input type="text" ng-model="comentario" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Correo</label>
        <input type="text" ng-model="email" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Celular / Telefono</label>
        <input type="text" ng-model="celular" required md-maxlength="200">
    </md-input-container>
    <md-input-container>
        <label>Direccion</label>
        <input type="text" ng-model="direccion" required md-maxlength="200">
    </md-input-container>





        <input type="file"  ngf-select ng-model="picFile" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />

        <br>

        <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>

        <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">

        <br>
        Files:
        <ul>
            <li ng-repeat="f in picFile" style="font:smaller">{{f.name}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
             ng-bind="f.progress + '%'"></div>
      </span>
            </li>
            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
            </li>
        </ul>
        {{errorMsg}}



        <md-button type="submit"  class="md-raised"> Enviar </md-button>

</form>
    </div>

</div>

<div ng-show="usuario.data.adminpqrsf">
    <div style="width:100%">
    <h1 class="pqnav" ng-click="mispqadmin = 1">Nuevo</h1>
    <h1 class="pqnav" style="text-align: center" ng-click="mispqadmin = 2">Tramite</h1>
    <h1 class="pqnav" style="text-align: right" ng-click="mispqadmin = 3">Cerrado</h1>
    </div>

    <div ng-show="mispqadmin == 1">
        <div ng-repeat="pq in pqnuevo" class="boxpubli">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion'" src="/img/peticion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Solicitud'" src="/img/solicitud.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/felicitacion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Reclamo'" src="/img/reclamo.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Queja'" src="/img/queja.png">
            Fecha de recibido: {{pq.fechainicio}}
            Fecha de cierre: {{!pq.fechacierre ? '--/--/--' : pq.fechacierre}}

            <img class="tipodepqrsf" ng-if="pq.estado == 'En espera'" src="/img/espera.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'En tramite'" src="/img/tramite.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'Cerrado'" src="/img/cerrado.png">

        </div>
    </div>
    <div ng-show="mispqadmin == 2">
        <div ng-repeat="pq in pqtramite" class="boxpubli">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion'" src="/img/peticion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Solicitud'" src="/img/solicitud.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/felicitacion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Reclamo'" src="/img/reclamo.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Queja'" src="/img/queja.png">
            Fecha de recibido: {{pq.fechainicio}}
            Fecha de cierre: {{!pq.fechacierre ? '--/--/--' : pq.fechacierre}}

            <img class="tipodepqrsf" ng-if="pq.estado == 'En espera'" src="/img/espera.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'En tramite'" src="/img/tramite.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'Cerrado'" src="/img/cerrado.png">

        </div>
    </div>
    <div ng-show="mispqadmin == 3">
        <div ng-repeat="pq in pqcerrado" class="boxpubli">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion'" src="/img/peticion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Solicitud'" src="/img/solicitud.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/felicitacion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Reclamo'" src="/img/reclamo.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Queja'" src="/img/queja.png">
            Fecha de recibido: {{pq.fechainicio}}
            Fecha de cierre: {{!pq.fechacierre ? '--/--/--' : pq.fechacierre}}

            <img class="tipodepqrsf" ng-if="pq.estado == 'En espera'" src="/img/espera.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'En tramite'" src="/img/tramite.png">
            <img class="tipodepqrsf" ng-if="pq.estado == 'Cerrado'" src="/img/cerrado.png">

        </div>
    </div>
</div>