<br>
<br>
<br>

<style>
    .pqnav
    {
        display: inline-block;
        color: #E30613;
        cursor: pointer;
        margin-left: 30%;
    }

    .pqline
    {
        width: 49%;
        display:inline-block;
    }
    .boxformulariopqr
    {
        width: 90%;
        margin-left: 5%;
        margin-top: 2vh;
        position: relative;
        background: #e3e3e3;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
    }
    .tx1
    {
        position: relative;
        text-align: right;
        color: black;
        font-size: 3vw;
        font-weight: bold;
        padding-top:5vh;
        margin-right: 5vw;
    }
    .tx2
    {
        position: relative;
        text-align: right;
        color: #575756;
        font-size: 2vw;
        margin-right: 7vw;
    }
    .comilla1
    {
        position: absolute;
        height: 4vh;
        top:4.8vh;
        left:26.5vw;
    }
    .comilla2
    {
        position: absolute;
        height: 3vh;
        top:13vh;
        left:43vw;
    }
    .inftextobli
    {
        margin-left: 5%;
        margin-top: 5%;
        width: 45vw;
    }
    .asterisco
    {
        color: #e3152d;
    }
    .nombreuser
    {
        width: 99%;
        height: 6vh
    }
    .md-select-value .md-select-icon:after
    {
        color: #e3152d;
    }
    .titlepersonales
    {
        font-size: 2vw;
        color: #575756;
        margin-bottom: 3vh;
    }
    .inpt
    {
        border-radius: .3vw .3vw .3vw .3vw;
        border: 0;
        height: 2.5vh;
        width: 12vw;
        margin-left: .5vw;
        font-size: .8vw;
    }
    .adjunta
    {
        display: none;
    }
    md-input-container .md-input
    {
        font-weight: bold;
        font-size: 1vw;
    }
    .md-select-value :first-child
    {
        font-weight: bold;
        font-size: 1vw;
    }
    .listdat
    {
       font-size: .8vw;
    }
    label
    {
        font-size: 1vw;
    }
    .iconadjun
    {
        width: 3vw;
    }
    .tipodepqrsf
    {
        display: inline-block;
        height: 5vh;
        margin-left: 3%;
    }
    .tipodepqrsf2
    {
        display: inline-block;
        height: 6vh;
        margin-left: 20%;
    }
    .fechas
    {
        display: inline-block;
        width: 35vw;
        margin-left: 2%;
    }
    .estadopqrs
    {
        display: inline-block;
        height: 6vh;
        margin-left: 3%;
    }
    .tittlemypqrs
    {
        font-weight:bold;
        font-size: 1.1vw;
        margin-bottom: 2%;
        margin-top: 0;
    }
    .fpqrs
    {
        font-size: 1vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .barracorespon
    {
        width: 32%;
        display: inline-block;
        text-align: left;
    }
    .textcorrespo
    {
        color: #e3152d;
        text-align: center;
    }
    .cajabuscador
    {
        width: 90%;
        margin-left: 5%;
    }
    .btnbuscar
    {
        width: 6vw;
        height: 3.2vh;
        vertical-align: -60%;
        margin-left: 10%;
    }
    .buscador
    {
        width: 20vw;
        padding: 8px 8px 8px 40px;
        border-radius: .3vw .3vw .3vw .3vw;
        border: 0;
    }
    .titlerespon
    {
        font-weight: bold;
        font-size: 1.1vw;
        margin-bottom: 0;
    }
    md-checkbox.md-checked.red .md-icon {
        background-color: rgba(227, 6, 19, 1);
    }
    .cajaredirije
    {
        margin-left: 5%;
        width: 90%;

    }
    .imgredirige
    {
        margin-left: 4vw;
        width: 4vw;
    }
    .txtpqrsf
    {
        color: #e3152d;
        font-size: 1.5vw;
        font-weight: bold;
    }
    .btnenviarediri
    {
        width: 6vw;
        margin-bottom: 3vh;
        border-radius:.4vw;
        margin-left: 88%;
    }
    .boxbrnrenvi
    {
        width: 90%;
        margin-left: 5%;
        opacity: .7;
        cursor: pointer;
        
    }
    .boxbrnrenvi:hover
    {
        opacity: 1;
    }

</style>

<!--{{usuario.data}}-->

    <!-- USUARIO NORMAL -->
<div ng-show="!usuario.data.adminpqrsf && !usuario.data.tramitepqrsf">


    <!--BARRA SUPERIOR PQRS-->
    <div class="boxpqnav">
        <div class="pqline"><h2 class="pqnav" ng-click="mispq = false">Nueva PQRSF</h2></div>
        <div class="pqline"><h2 class="pqnav" ng-click="mispq = true">Mis PQRSF</h2></div>
    </div>

    <!--MIS PQRS-->
    <div ng-show="mispq" style="margin-top: 2vh">
        <div ng-repeat="pq in pqrsf" class="boxpubli">
            <div> <img style="width: 1.5vh;margin-top: 0.5vh; margin-left: 97% " src="/img/icono-eliminar-g.png"></div>
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion'" src="/img/peticion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Solicitud'" src="/img/solicitud.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/felicitacion.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Reclamo'" src="/img/reclamo.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Queja'" src="/img/queja.png">
        <div class="fechas">
            <p class="tittlemypqrs">{{pq.tipopq}}</p>
            <p class="fpqrs">Fecha de recibido: {{pq.fechainicio | moment:'DD'}} de {{pq.fechainicio | moment:'MMMM'}} {{pq.fechainicio | moment:'YYYY'}}</p>
            <p class="fpqrs" style="margin-bottom: 3vh">Fecha de cierre: {{ !pq.fechacierre ? '--/--/--' : (pq.fechacierre | moment:'DD') + ' de ' +  (pq.fechainicio | moment:'MMMM') + ' ' + (pq.fechainicio | moment:'YYYY')}}</p>
        </div>
            <img class="estadopqrs" ng-if="pq.estado == 'En espera'" src="/img/espera.png">
            <img class="estadopqrs" ng-if="pq.estado == 'En tramite'" src="/img/tramite.png">
            <img class="estadopqrs" ng-if="pq.estado == 'Cerrado'" src="/img/cerrado.png">
        </div>
    </div>

<!--FORMULARIO CREAR PQRS-->

    <div class="boxformulariopqr" ng-show="mispq == false">
        <form name="myForm2" ng-submit="uploadPic(picFile)">
            <img class="comilla1" src="/img/icono-comillas1.png">
            <div class="tx1">Formulario</div>
            <div class="tx2">PQRSF</div>
            <img class="comilla2" src="/img/icono-comillas2.png">

         <div class="inftextobli"> <label>Los campos con aspectos (*) son campos que se deben llenar obligatoriamente.</label>

             <div class="nombreuser"> <label style="vertical-align: 40%"> Al día 23 de Febrero 2016 Yo </label> <span class="asterisco">*</span>
                <md-input-container style="width: 29.8vw; height: auto">
                    <label></label>
                    <input type="text" ng-model="nombre" placeholder="Nombres y Apellidos">
                </md-input-container>
             </div>

             <div>
               <label style="vertical-align: 0">Identificado con </label> <span class="asterisco">*</span>
                <md-input-container style="vertical-align: 30%;margin-bottom: 0; margin-top: 0;">
                    <md-select placeholder="Tipo Documento" ng-model="tdocumento" style="width: 15vw">
                        <md-option ng-repeat="tipos in tdocumentos" value="{{tipos.nombre}}">
                            {{tipos.nombre}}
                        </md-option>
                    </md-select>
                </md-input-container>
                     <label> No. <span class="asterisco">*</span> </label>
                 <!--&lt;!&ndash;{{ciudad}}&ndash;&gt;-->
                <md-input-container style="margin-bottom: 0; margin-top: 0; height: 4.5vh;width: 18vw">
                    <label></label>
                     <input type="text" ng-model="ndocumento" placeholder="Documento">
                </md-input-container>
             </div>

             <div>
                   <label>hago parte de la empresa </label><span class="asterisco">*</span>
                     <md-input-container style="margin-bottom: 0; margin-top: 0; height: 4.5vh;width: 12vw">
                         <label></label>
                         <input type="text" ng-model="empresa" placeholder="Empresa">
                     </md-input-container>
                        <label>en el cargo de <span class="asterisco">*</span></label>
                     <md-input-container style="margin-bottom: 0; margin-top: 0; height: 4.5vh;width: 11.5vw">
                         <label></label>
                         <input type="text" ng-model="cargo" placeholder="Cargo">
                     </md-input-container>,
             </div>
             <div>
                   <label>en la Ciudad de <span class="asterisco">*</span></label>
                     <md-input-container style="margin-bottom: 0; margin-top: 0; height: 4.5vh;width: 8vw">
                         <label></label>
                         <input type="text" ng-model="ciudad2" placeholder="ciudad">
                     </md-input-container>
                   <label>presento</label><span class="asterisco">*</span>
                     <md-input-container style="vertical-align: 30%;margin-bottom: 0; margin-top: 0;">
                         <md-select  placeholder="PQRSF" ng-model="tipopq" style="width: 8vw" required>
                             <md-option ng-repeat="t in tipospq" value="{{t.nombre}}">
                                 {{t.nombre}}
                             </md-option>
                         </md-select>
                     </md-input-container>
             </div>

             <div style="margin-top:3vh">
                    <textarea style="width: 44vw; border-radius: .5vw .5vw .5vw .5vw;resize: none; " ng-model="comentario"  rows="5"  placeholder="Comentarios..."></textarea>
             </div>

             <div style="margin-top: 1vh">
                 <p class="titlepersonales">Datos Personales</p>
                 <p class="listdat">Correo Personal <input class="inpt" type="text" ng-model="email" > </p>
                 <p class="listdat">Celular/Teléfono <input class="inpt" type="text" ng-model="celular"> </p>
                 <p class="listdat">Dirección <input style="margin-left: 3vw" class="inpt" type="text" ng-model="direccion"> </p>
             </div>

             <div style="position: absolute; top: 65vh; left: 65%">
                 <img style="height: 7.5vh" src="/img/icono-fomulario.png">
             </div>

             <div style="width: 8vw;position: absolute;top: 65vh; left:75% ">
                 <p style="margin: 0; font-weight: bold; font-size: .8vw;color: #575756">Adjunto:</p>
                 <p style="margin: 0; font-size: .7vw;color: #575756">Por el solicitante</p>
                 <p style="margin: 0; font-size: .7vw;color: #575756">Nombre Archivo</p>
                 <p style="margin: 0; font-size: .7vw;color: #575756">7Kb</p>
             </div>


             <div style="margin-left: 32vw; margin-top: -4vh; margin-bottom: 1vh">
                 <div ng-repeat="f in picFile" style="display:inline-block;position: relative;margin-bottom: 2%;">
                     <div style="width: 10px;height: 10px;background-color: #E30613;margin-top: 1vh; margin-right: 1vw "></div> {{f.$errorParam}}
                     <!--<li ng-repeat="f in picFile" style="font:smaller">{{f.name}} {{f.$errorParam}}-->
                     <!--<span class="progress" ng-show="f.progress >= 0">-->
                     <!--<div style="width:{{f.progress}}%"-->
                     <!--ng-bind="f.progress + '%'"></div>-->
                     <!--</span>-->
                 </div>
             </div>


             <!--<li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}-->
             <!--</li>-->

             <div style="position: relative; left: 70%;width: 12vw" >
                 <label for="file-input">
                 <img class="iconadjun" src="/img/iconoadjdoc.jpg">
                 </label>
                 <input type="file" class="adjunta" ngf-select ng-model="picFile"  id="file-input" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />
                 <!--BOTON ENVIAR-->
                 <input type="image" src="/img/botones-enviar.png" style="width: 6.8vw; margin-left: 6%" >  </input>
             </div>







                <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
                <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">

                <br>

                {{errorMsg}}

         </div>

        </form>
    </div>

</div>

<!--CORRESPONDENCIA PQRSF-->
<div ng-show="usuario.data.adminpqrsf">

    <div>
        <div class="barracorespon"><h2 class="textcorrespo" ng-click="mispqadmin = 1">Nuevo 120</h2></div>
        <div class="barracorespon"><h2 class="textcorrespo" ng-click="mispqadmin = 2">Tramite 120</h2></div>
        <div class="barracorespon"><h2 class="textcorrespo" ng-click="mispqadmin = 3">Cerrado 120</h2></div>
    </div>

    <div style="border:solid red .1vw; margin-left: 5%; width: 90%;margin-bottom: 1vh"></div>

    <!--BUSCADOR-->
    <div class="cajabuscador" >
        <div style="display: inline-block;"> <input class="buscador" type="text" placeholder="Escribe tu Busqueda..."></div>
        <div style="display: inline-block;">
            <md-input-container style="width: 10vw">
                <md-select ng-model="tipospqrs" placeholder="Tipo">
                    <md-option  value="peticion">Petición</md-option>
                    <md-option  value="queja">Queja</md-option>
                    <md-option  value="reclamo">Reclamo</md-option>
                    <md-option  value="felicitacion">Felicitacón</md-option>
                    <md-option  value="sugerencia">Sugerencia</md-option>
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div style="display: inline-block;">
            <md-input-container style="width: 10vw">
                <md-select ng-model="estadopqrs" placeholder="Estado">
                    <md-option  value="cerrado">Cerrado</md-option>
                    <md-option  value="espera">Espera</md-option>
                    <md-option  value="tramite">Tramite</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div style="display: inline-block;">
            <input type="image" src="/img/botones_buscar.png" class="btnbuscar" >  </input>
        </div>
    </div>

    <!--REDIRIGIR-->
    <div class="cajaredirije">
        <div style="display: inline-block; margin-left: 2vw"><P class="txtpqrsf">PQRSF</P></div>
        <div style="display: inline-block; border: solid #e3152d .1vw; height: 4vh; margin-left: 31vw"></div>
        <div style="display: inline-block; "> <img class="imgredirige" src="/img/redirigir.png"></div>
        <!--<div style="display: inline-block; border: solid crimson">-->
            <!--<md-checkbox ng-model="datos" class="red" style="margin-bottom: 0" >-->
            <!--</md-checkbox>-->
        <!--</div>-->
    </div>

    <!--PRIMERA VISTA-->
    <div ng-show="mispqadmin == 1">
        <div ng-repeat="pq in pqnuevo" class="boxpubli" style="border-radius: .5vw ">

            <div >
                <div style="width: 5vw; display: inline-block">
                    <img class="tipodepqrsf2" ng-if="pq.tipopq == 'Queja'" src="/img/adminqueja.png">
                    <img class="tipodepqrsf2" ng-if="pq.tipopq == 'Felicitacion'" src="/img/adminfelicitacion.png">
                    <img class="tipodepqrsf2" ng-if="pq.tipopq == 'Peticion'" src="/img/adminpeticion.png">
                    <img class="tipodepqrsf2" ng-if="pq.tipopq == 'Solicitud'" src="/img/adminsolicitud.png">
                    <img class="tipodepqrsf2" ng-if="pq.tipopq == 'Reclamo'" src="/img/adminreclamo.png">
                </div>
                <div style="display: inline-block; width: 30vw;"><p class="titlerespon">{{pq.tipopq}}</p>
                    <p style="margin: 0; font-size: 1vw"> Fecha de recibido: {{pq.fechainicio | moment:'DD'}} de {{pq.fechainicio | moment:'MMMM'}} {{pq.fechainicio | moment:'YYYY'}}</p>
                    <div style="margin-bottom: 2vh;color: #e3152d; " ng-click="editing = true">ver mas</div>
                </div>

                <div style="border: solid #a5a5a4 .1vw; display: inline-block; margin-left: 3vw;height: 7vh; vertical-align: -1vh"></div>

                <div style=" display:inline-block; vertical-align: 1.5vw;margin-left: 2.5vw ">
                    <md-checkbox ng-model="datos" class="red" >
                    </md-checkbox>
                </div>

            </div>

            <div ng-show="editing">
                <!--TITULO-->
                <h1>{{pq.tipopq}}</h1>
                <!--DESCRIPCION PEQUEñA-->
                <p>El dia <b>{{pq.fechainicio}}</b> yo <b>{{pq.nombre}}</b> identificado con C.C. No. <b>{{pq.ndocumento}}</b> hago parte de <b>{{pq.empresa}}</b> con el cargo
                de <b>{{pq.cargo}}</b> ciudad <b>{{pq.ciudad2}}</b> presento una <b>{{pq.tipopq}}</b></p>
                <!--EL COMENTARIO-->
                <p>{{pq.comentario}}</p>
                <h1>Datos Personales</h1>
                <p>{{pq.celular}} </p>
                <p>{{pq.email}}</p>

                    <a ng-repeat="f in pq.files" ng-if="f.fase == 1" href="{{f.adjunto}}"><div style="width: 10px;height: 10px;background-color: #E30613"></div>{{f.adjunto.split('/')[2]}}</a>

                <h1>Proceso</h1>

                <div ng-repeat="cm in pq.comentarios">
                    <p>{{cm.u}}</p>
                    <p>{{cm.c}}</p>

                    <a ng-repeat="f in pq.files" ng-if="f.fase == cm.f" href="{{f.adjunto}}">{{f.adjunto.split('/')[2]}}</a>
                </div>


                <form enctype="multipart/form-data" name="myForm" ng-submit="addCiclo(pq.picFile,pq.newcomentario,pq._id,pq.fase,pq.newresponsable,'En tramite','nada');editing = false;">
                    <md-input-container>
                        <label>Observacion</label>
                        <textarea ng-model="pq.newcomentario" md-maxlength="250" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <md-input-container class="emailedit">
                        <md-select  placeholder="Dirigir" ng-model="pq.newresponsable" md-on-open="loadasignables()">
                            <md-option ng-repeat="u in asignables.data" value="{{u.username}}">
                                {{u.nombre}} {{u.apellido}} - {{u.cargo}} - {{u.area}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <input type="file"  ngf-select ng-model="pq.picFile" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />

                    <br>

                    <i ng-show="myForm.file.$error.maxSize">File too large {{pq.picFile.size / 1000000|number:1}}MB: max {{pq.picFile.$errorParam}}</i>

                    <img ng-show="myForm.file.$valid" ngf-src="!pq.picFile.$error && pq.picFile" class="thumb">

                    <br>
                    Files:
                    <ul>
                        <li ng-repeat="f in pq.picFile" style="font:smaller">{{f.name}} {{f.$errorParam}}
                         <span class="progress" ng-show="f.progress >= 0">
                         <div style="width:{{f.progress}}%"
                            ng-bind="f.progress + '%'"></div>
                         </span>
                        </li>
                        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                        </li>
                    </ul>
                    {{errorMsg}}

                    <md-button type="submit"  class="md-raised"> Redirigir </md-button>
                    <md-button ng-click="addCiclo(pq.picFile,pq.newcomentario,pq._id,pq.fase,pq.newresponsable,'Cerrado','tramitando');editing = false;">Cerrar Proceso</md-button>
                    <!--<input type="text" ng-model="bodyc.val">-->
                </form>


            </div>
        </div>
        <!--ENVIAR REDIRIGIDO-->
        <div class="boxbrnrenvi"> <img class="btnenviarediri" src="/img/enviarediri.png"> </div>
    </div>

    <div ng-show="mispqadmin == 2">
        <div ng-repeat="pq in pqtramite" class="boxpubli">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion' || pq.tipopq == 'Solicitud' || pq.tipopq == 'Reclamo' || pq.tipopq == 'Queja'" src="/img/adminsolicitud.png" >
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/adminfelicitacion.png">
            Fecha de recibido: {{pq.fechainicio}}
            <div ng-click="editing = true">ver mas</div>
            <div ng-show="editing">
                <!--TITULO-->
                <h1>{{pq.tipopq}}</h1>
                <!--DESCRIPCION PEQUEñA-->
                <p>El dia <b>{{pq.fechainicio}}</b> yo <b>{{pq.nombre}}</b> identificado con C.C. No. <b>{{pq.ndocumento}}</b> hago parte de <b>{{pq.empresa}}</b> con el cargo
                    de <b>{{pq.cargo}}</b> ciudad <b>{{pq.ciudad2}}</b> presento una <b>{{pq.tipopq}}</b></p>
                <!--EL COMENTARIO-->
                <p>{{pq.comentario}}</p>
                <h1>Datos Personales</h1>
                <p>{{pq.celular}} </p>
                <p>{{pq.email}}</p>

                <a ng-repeat="f in pq.files" ng-if="f.fase == 1" href="{{f.adjunto}}"><div style="width: 10px;height: 10px;background-color: #E30613"></div>{{f.adjunto.split('/')[2]}}</a>

                <h1>Proceso</h1>

                <div ng-repeat="cm in pq.comentarios">
                    <p>{{cm.u}}</p>
                    <p>{{cm.c}}</p>

                    <a ng-repeat="f in pq.files" ng-if="f.fase == cm.f" href="{{f.adjunto}}">{{f.adjunto.split('/')[2]}}</a>
                </div>


                <form enctype="multipart/form-data" name="myForm" ng-submit="addCiclo(pq.picFile,pq.newcomentario,pq._id,pq.fase,pq.newresponsable,'En tramite','nada');editing = false;">
                    <md-input-container>
                        <label>Observacion</label>
                        <textarea ng-model="pq.newcomentario" md-maxlength="250" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <md-input-container class="emailedit">
                        <md-select  placeholder="Dirigir" ng-model="pq.newresponsable" md-on-open="loadasignables()">
                            <md-option ng-repeat="u in asignables.data" value="{{u.username}}">
                                {{u.nombre}} {{u.apellido}} - {{u.cargo}} - {{u.area}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <input type="file"  ngf-select ng-model="pq.picFile" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />

                    <br>

                    <i ng-show="myForm.file.$error.maxSize">File too large {{pq.picFile.size / 1000000|number:1}}MB: max {{pq.picFile.$errorParam}}</i>

                    <img ng-show="myForm.file.$valid" ngf-src="!pq.picFile.$error && pq.picFile" class="thumb">

                    <br>
                    Files:
                    <ul>
                        <li ng-repeat="f in pq.picFile" style="font:smaller">{{f.name}} {{f.$errorParam}}
                         <span class="progress" ng-show="f.progress >= 0">
                         <div style="width:{{f.progress}}%"
                              ng-bind="f.progress + '%'"></div>
                         </span>
                        </li>
                        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                        </li>
                    </ul>
                    {{errorMsg}}



                    <md-button type="submit"  class="md-raised"> Redirigir </md-button>
                    <md-button ng-click="addCiclo(pq.picFile,pq.newcomentario,pq._id,pq.fase,pq.newresponsable,'Cerrado','tramitando');editing = false;">Cerrar Proceso</md-button>
                    <!--<input type="text" ng-model="bodyc.val">-->
                </form>


            </div>
        </div>
    </div>
    <div ng-show="mispqadmin == 3">
        <div ng-repeat="pq in pqcerrado" class="boxpubli">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion' || pq.tipopq == 'Solicitud' || pq.tipopq == 'Reclamo' || pq.tipopq == 'Queja'" src="/img/adminsolicitud.png">
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/adminfelicitacion.png">
            Fecha de recibido: {{pq.fechainicio}}
            Fecha de cierre: {{!pq.fechacierre ? '--/--/--' : pq.fechacierre}}

        </div>
    </div>
</div>


<div ng-show="usuario.data.tramitepqrsf">
    <h1 class="pqnav" ng-click="mispqtramite = 1">Nuevo</h1>
    <h1 class="pqnav" style="text-align: right" ng-click="mispqtramite = 2">Cerrado</h1>
    <div ng-show="mispqtramite == 1">
        <div ng-repeat="pq in pqasignados" class="boxpubli" >
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Peticion' || pq.tipopq == 'Solicitud' || pq.tipopq == 'Reclamo' || pq.tipopq == 'Queja'" src="/img/adminsolicitud.png" >
            <img class="tipodepqrsf" ng-if="pq.tipopq == 'Felicitacion'" src="/img/adminfelicitacion.png">
            Fecha de recibido: {{pq.fechainicio}}
            <div  ng-click="editing = true">ver mas</div>
            <div ng-show="editing">
                <!--TITULO-->
                <h1>{{pq.tipopq}}</h1>
                <!--DESCRIPCION PEQUEñA-->
                <p>El dia <b>{{pq.fechainicio}}</b> yo <b>{{pq.nombre}}</b> identificado con C.C. No. <b>{{pq.ndocumento}}</b> hago parte de <b>{{pq.empresa}}</b> con el cargo
                    de <b>{{pq.cargo}}</b> ciudad <b>{{pq.ciudad2}}</b> presento una <b>{{pq.tipopq}}</b></p>
                <!--EL COMENTARIO-->
                <p>{{pq.comentario}}</p>
                <h1>Datos Personales</h1>
                <p>{{pq.celular}} </p>
                <p>{{pq.email}}</p>

                <a ng-repeat="f in pq.files" ng-if="f.fase == 1" href="{{f.adjunto}}"><div style="width: 10px;height: 10px;background-color: #E30613"></div>{{f.adjunto.split('/')[2]}}</a>

                <h1>Proceso</h1>

                <div ng-repeat="cm in pq.comentarios">
                    <p>{{cm.u}}</p>
                    <p>{{cm.c}}</p>

                    <a ng-repeat="f in pq.files" ng-if="f.fase == cm.f" href="{{f.adjunto}}">{{f.adjunto.split('/')[2]}}</a>
                </div>


                <form enctype="multipart/form-data" name="myForm" ng-submit="addCiclo(pq.picFile,pq.newcomentario,pq._id,pq.fase,pq.newresponsable,'En tramite','tramitando',false);editing = false;">
                    <md-input-container>
                        <label>Observacion</label>
                        <textarea ng-model="pq.newcomentario" md-maxlength="250" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <md-input-container class="emailedit">
                        <md-select  placeholder="Dirigir" ng-model="pq.newresponsable" md-on-open="loadasignables()">
                            <md-option ng-repeat="u in asignables.data" value="{{u.username}}">
                                {{u.nombre}} {{u.apellido}} - {{u.cargo}} - {{u.area}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <input type="file"  ngf-select ng-model="pq.picFile" ngf-multiple="true"  name="file" accept="image/*" ngf-max-size="200MB" required />

                    <br>

                    <i ng-show="myForm.file.$error.maxSize">File too large {{pq.picFile.size / 1000000|number:1}}MB: max {{pq.picFile.$errorParam}}</i>

                    <img ng-show="myForm.file.$valid" ngf-src="!pq.picFile.$error && pq.picFile" class="thumb">

                    <br>
                    Files:
                    <ul>
                        <li ng-repeat="f in pq.picFile" style="font:smaller">{{f.name}} {{f.$errorParam}}
                         <span class="progress" ng-show="f.progress >= 0">
                         <div style="width:{{f.progress}}%"
                              ng-bind="f.progress + '%'"></div>
                         </span>
                        </li>
                        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                        </li>
                    </ul>
                    {{errorMsg}}




                    <md-button type="submit" >Cerrar Proceso</md-button>
                    <!--<input type="text" ng-model="bodyc.val">-->
                </form>


            </div>
        </div>
    </div>
    <div ng-show="mispqtramite == 2">XDS</div>
</div>
