<div style="position: absolute;top: -10vh;left: 0;width: 100%; z-index: 10 ">
    <img style="width:100%; height: auto;" src="/img/foto_mundo.png">
</div>


<!--<div class="svgrojo">-->
    <!--<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="2.3 221.8 957 116.4" enable-background="new 2.3 221.8 957 116.4" xml:space="preserve">-->
    <!--<path class="linearedtop" d="M1.9,250.5c0,0,174.5-40.6,437.5-25.3c301,17.3,519.9,82.5,519.9,82.5v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.2-387.9,17.7-527.6,50.8V250.5z"/>-->
    <!--<path class="linearedtop2" d="M2.1,300.7c0,0,170.3-52.4,433.7-42.2c301.4,11.6,523.5,63.3,523.5,63.3v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.1-387.9,17.8-527.6,50.9L2.1,300.7z"/>-->
    <!--</svg>-->
<!--</div>-->

<barranav></barranav>
<barraizq></barraizq>
<barrader></barrader>
<chat></chat>
<div class="content">
<div ui-view=""></div>
</div>