<div id="imagensuperiormundo" style="position: relative;top: -10vh;left: 0;width: 100%;z-index: 10  ">
    <img src="/img/logo-iso-sol.png" style="position: absolute;top: 20vh;left: 5%;width: 30vw;">
    <img style="width:100%; height: auto;" src="/img/foto_mundo.png">
</div>


<!--<div class="svgrojo">-->
    <!--<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="2.3 221.8 957 116.4" enable-background="new 2.3 221.8 957 116.4" xml:space="preserve">-->
    <!--<path class="linearedtop" d="M1.9,250.5c0,0,174.5-40.6,437.5-25.3c301,17.3,519.9,82.5,519.9,82.5v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.2-387.9,17.7-527.6,50.8V250.5z"/>-->
    <!--<path class="linearedtop2" d="M2.1,300.7c0,0,170.3-52.4,433.7-42.2c301.4,11.6,523.5,63.3,523.5,63.3v16.5c0,0-145.6-41.8-429.8-50.9c-159.7-5.1-387.9,17.8-527.6,50.9L2.1,300.7z"/>-->
    <!--</svg>-->
<!--</div>-->

<style>
    #fondounoi{  position: fixed;
        z-index: 0;
        height: 100vh;
        min-height: 100vh;
        width: 22vw;
        top: 0;
        background-image: url("../img/textura_30.png");
        background-size: 40px 40px;-webkit-box-shadow: inset 0px 0px 50px -8px;
        -moz-box-shadow: inset 0px 0px 50px -8px;
        box-shadow: inset 0px 0px 50px -8px;}
    #fondodosi{    position: fixed;
        top: 0;
        left: 22vw;
        width: 56vw;
        z-index: 0;
        background-image: url("img/fondo_centro_50.png");
        background-size: 40px 40px;
        min-height: 100vh;
        height: 100vh;
        margin-top: 0;
        -webkit-box-shadow: inset 0px 0px 30px -8px;
        -moz-box-shadow: inset 0px 0px 30px -8px;
        box-shadow: inset 0px 0px 30px -8px;}
    #fondotresi{
        position: fixed;
        background-image: url("../img/textura_30.png");
        background-size:40px 40px;
        height: 100vh;
        width: 22vw;
        z-index: 0;
        top: 0;
        right: 0vw;
        -webkit-box-shadow: inset 0px 0px 30px -18px ;
        -moz-box-shadow: inset 0px 0px 30px -18px ;
        box-shadow: inset 0px 0px 30px -18px;
    }

    @media (max-width: 600px) {
        #imagensuperiormundo
        {
            top: 0 !important;
        }
        barraizq {
            display: none;
        }
        barrader {
            display: none;
        }
        #fondounoi{display: none}
        #fondotresi{display: none}
        #fondodosi{width: 100vh;left: 0}
        .content{width: 100vw;
        left: 0;
        top:0}
        chat{display:none}
        #espaciodemoderacion{display: none}
        barranav{display: none}
        md-input-container{line-height:8px;font-size: 1em;margin-top: 0}
    }

</style>



<barranav></barranav>
<barraizq></barraizq>
<div class="content">
    <div ui-view=""></div>
</div>
<div style="width: 20vw;display: inline-block;vertical-align: top;height: 100vh;position: relative;top: -10vh;z-index: 1">

    <barrader></barrader>
</div>


<chat></chat>

<div id="fondounoi"></div>
<div id="fondotresi"></div>
<div id="fondodosi"></div>

